{% extends 'Admin/layout.html.twig' %}
{% block title %}Home {% endblock %}
{% block body %}
<div class="page-content">

    <!-- START X-NAVIGATION VERTICAL -->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <li class="xn-search">
            <form role="form">
                <input type="text" name="search" placeholder="Search..."/>
            </form>
        </li>
        <li class="xn-icon-button pull-right">
            <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
        </li>
        <li class="xn-icon-button pull-right">
            <a href="#"><span class="fa fa-comments"></span></a>
            <div class="informer informer-danger"><b id="m"></b></div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                    <div class="pull-right">
                        <span class="label label-danger"><b id="m"></b>nouveau</span>
                    </div>
                </div>
                {#{% include "::admin/message.html.twig" %}#}
            </div>
        </li>
        <li class="xn-icon-button pull-right">
            <a href="#"><span class="fa fa-tasks"></span></a>
            <div class="informer informer-warning"><i id="n"></i></div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-tasks"></span> Activités </h3>
                    <div class="pull-right">
                        <span class="label label-warning"><b id="n"></b> active</span>
                    </div>
                </div>
                {#{% include "::admin/notification.html.twig" %}#}
            </div>
        </li>
    </ul>
    <!-- END X-NAVIGATION VERTICAL -->

    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Pages</a></li>
        <li class="active">Timeline</li>
    </ul>
    <!-- END BREADCRUMB -->

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-6">

                <!-- START TIMELINE FILTER -->
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Timeline filter</h3>
                        <form class="form-horizontal" role="form">
                            <div class="form-group">

                                <div class="col-md-8">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                        <input type="text" class="form-control" placeholder="Keywords"/>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
                <!-- END TIMELINE FILTER -->

            </div>
            <div class="col-md-6">

                <!-- START NEW RECORD -->


            </div>

            <div class="row">
                {% for c in blog %}

                    <div class="col-md-12">

                        <!-- START TIMELINE -->
                        <div class="timeline timeline-right">

                            <!-- START TIMELINE ITEM -->
                            <div class="timeline-item timeline-main">
                                <div class="timeline-date">{{ c.dateCreation|date('Y') }}</div>
                            </div>
                            <!-- END TIMELINE ITEM -->

                            <!-- START TIMELINE ITEM -->
                            <div class="timeline-item timeline-item-right">
                                <div class="timeline-item-info">{{ c.dateCreation|date }}</div>
                                <div class="timeline-item-icon"><span class="fa fa-globe"></span></div>
                                <div class="timeline-item-content">
                                    <div class="timeline-heading">
                                        <img src="{{ asset('') }}{{ vich_uploader_asset(c.author, 'imageFile') }}"/> <a
                                                href="#">{{ c.author.nom }} {{ c.author.prenom }}</a> <a
                                                href="#">{{ c.title }}</a>
                                    </div>
                                    <div class="timeline-body">
                                        <img src="{{ asset('') }}{{ vich_uploader_asset(c, 'imageFile') }}"
                                             class="img-text" width="150" align="left"/>
                                        <p>{{ c.content }}</p>
                                        <ul class="list-tags">
                                            <li><a href="#"><span class="fa fa-tag"></span> {{ c.categorie }}</a></li>

                                        </ul>
                                    </div>

                                    <div class="timeline-footer">
                                        <form id="fs{{ c.id }}" method="POST" action="{{ path('user_monblog') }}">
                                            <li>
                                                <a href="#" id="{{ c.id }}" class="clicksup">Supprimer blog</a>
                                                <input type="hidden" value="{{ c.id }}" name="idp">

                                            </li>
                                        </form>
                                        <div class="pull-right">
                                            <a href="#"><span class="fa fa-comment"></span> {{ c.repliesnumber }}</a>
                                            <a href="#"><span class="fa fa-thumbs-o-up"></span> {{ c.likesnumber }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END TIMELINE ITEM -->

                            <!-- START TIMELINE ITEM -->

                            <!-- START TIMELINE ITEM -->

                            <!-- END TIMELINE ITEM -->
                        </div>
                        <!-- END TIMELINE -->

                    </div>

                {% endfor %}
            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->

    </div>
    {% endblock %}
    {% block javascript %}
    <
    script
    type = "text/javascript"
    src = "{{ asset('admin/js/demo_dashboard.js') }}"></script>

    <
    script
    type = "text/javascript"
    src = "{{ asset('admin/js/plugins/morris/raphael-min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/morris/morris.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/rickshaw/d3.v3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/rickshaw/rickshaw.min.js') }}"></script>
    <script type='text/javascript'
            src='{{ asset('admin/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}'></script>
    <script type='text/javascript'
            src='{{ asset('admin/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}'></script>
    <script type='text/javascript' src='{{ asset('admin/js/plugins/bootstrap/bootstrap-datepicker.js') }}'></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/owl/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script type='text/javascript' src='{{ asset('admin/js/plugins/icheck/icheck.min.js') }}'></script>
    <script type="text/javascript"
            src="{{ asset('admin/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/js/plugins/scrolltotop/scrolltopcontrol.js') }}"></script>
    <script src="http//code.highcharts.com/4.1.8/highcharts.js"></script>
    <script src="http//code.highcharts.com/4.1.8/modules/exporting.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">


        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawMarkersMap);


        google.charts.setOnLoadCallback(drawChart1);
        <!--function drawChart1() {
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Visitor Number'],{ for n in nwe|reverse %}
                ['{n.createDt|date('M d')}}', {n.nb}}],{ endfor %}
            ]);-->

        var options = {
            curveType: 'function',
            legend: {position: 'bottom'}
        };

        var chart1 = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart1.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawChart);
        <!-- function drawChart() {
             var data = google.visualization.arrayToDataTable([
                 ['User', 'Vistor Number'],
                 ['Patient', {nr[0][1]}}],
                 ['Doctor',{nr[1][1]}} ],
                 ['Pharmacy',{nr[2][1]}} ],
                 ['Paramedic',{nr[3][1]}} ],
                 ['Laboratory',{nr[4][1]}} ]
             ]);-->

        var options = {
            pieHole: 0.45,
            chartArea: {left: 20, top: 20, width: '100%', height: '80%'},
            colors: ['#2980b8', '#206693', '#184c6e', '#103349', '#081924'],
            enableInteractivity: true,
            fontSize: 14,
            is3D: true

        };

        var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
        chart.draw(data, options);
        }

        google.charts.setOnLoadCallback(drawChart2);

        function drawChart2() {
            var data = google.visualization.arrayToDataTable([
                ['Mon', 20, 28, 38, 45],
                ['Tue', 31, 38, 55, 66],
                ['Wed', 50, 55, 77, 80],
                ['Thu', 77, 77, 66, 50],
                ['Fri', 68, 66, 22, 15]
                // Treat first row as data as well.
            ], true);

            var options = {
                legend: 'none',
                range: [{start: 'Tue', end: 'Thu'}],
                animation: {
                    duration: 1000,
                    easing: 'out'
                }

            };

            var chart = new google.visualization.CandlestickChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    </script>

{% endblock %}