{% extends 'front.html.twig' %}

{% block content %}
    {% if test == true  %}

        <section class="medium-padding120">
            <div class="container">
                <div class="row">
                    <div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">
                        <div class="page-404-content">
                            <img src="{{ asset('') }}img/404.png" alt="photo">
                            <div class="crumina-module crumina-heading align-center">
                                <h2 class="h1 heading-title">vous n'avez pas le droit de voir le contenue de   <span class="c-primary">{{ group.nom }}</span></h2>
                                <p class="heading-text">
                                    Si vous  souhaitez, vous pouvez revenir à la list des groupes

                                </p>
                            </div>

                            <a href="{{ path('groups_index') }}" class="btn btn-primary btn-lg">list des groupes</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}


    <div class="modal fade" id="edit_form" tabindex="-1" role="dialog" aria-labelledby="create-friend-group-1"
         aria-hidden="true">
        <div class="modal-dialog window-popup create-friend-group create-friend-group-1" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
                <div class="modal-header">
                    <h6 class="title">modifier groupe</h6>
                </div>
                {{ form_start(edit_form) }}
                <div class="modal-body">
                    <form class="form-group label-floating">
                        {{ form_widget(edit_form) }}
                        <input class="btn btn-blue btn-lg full-width" type="submit" value="Edit"/>

                    </form>
                </div>
                {{ form_end(edit_form) }}

            </div>
        </div>
    </div>



    <form name="fmod" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">



                    <div class="modal-body">

                        <div class="form-group">

                            <div class="form-group with-icon label-floating is-empty">

                                <textarea class="form-control" placeholder="" id="contenup" name="contenuup"></textarea>
                                <input type="hidden" value="" name="idpubmodal">
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>

                </div>
            </div>
        </div>
    </form>



        <!-- popup signal -->

        {{ form_start(form1) }}
            <div class="modal fade" id="form1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">



                        <div class="modal-body">

                            <div class="form-group">

                                <div class="form-group with-icon label-floating is-empty">
                                    {{ form_widget(form1) }}
                                </div>

                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primary">Signaler</button>
                        </div>

                    </div>
                </div>
            </div>
        {{ form_end(form1) }}

<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="top-header top-header-favorit">
                    <div class="top-header-thumb">
                        <img src="{{ asset('img/top-header4.png') }}" alt="nature">
                        <div class="top-header-author">
                            <div class="author-thumb">
                                <img src="{{ asset('') }}{{ vich_uploader_asset(group, 'imageFile') }}" alt="author"
                                     style="width:120px; height: 120px">
                            </div>
                            <div class="author-content">
                                <a href="#" class="h3 author-name">welcome to {{ group.nom }}</a>
                                <div class="country">{{ group.description }}</div>
                            </div>
                        </div>
                        </div>
                    <div class="profile-section">

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Your Account Personal Information -->

<div class="container">
    <div class="row">
        <div class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">
            <div id="newsfeed-items-grid">

                <!-- New Status block -->
                <div class="ui-block">
                    <div class="news-feed-form">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

                                    <svg class="olymp-status-icon"><use xlink:href="{{ asset('icons/icons.svg#olymp-status-icon') }}"></use></svg>

                                    <span>Status</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">

                                    <svg class="olymp-status-icon"><use xlink:href="{{ asset('icons/icons.svg#olymp-status-icon') }}"></use></svg>

                                    <span>Photos</span>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
                                <form name="formajout" method="POST">
                                    <div class="author-thumb">
                                        <img src="{{ asset('') }}{{ vich_uploader_asset(curr_user, 'imageFile') }}" style="width: 36px; height: 36px" alt="author">
                                    </div>
                                    <div class="form-group with-icon label-floating is-empty">
                                        <label class="control-label">Partagez ce que vous pensez ici ...</label>
                                        <textarea class="form-control" placeholder="" name="contenuajout"></textarea>
                                    </div>
                                    <div class="add-options-message">


                                        <button type="submit" class="btn btn-primary btn-md-2">Partager le Status</button>

                                    </div>

                                </form>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- END New Status Block -->
                {% for p in pubs %}
                    <div class="ui-block divlm">
                        <article class="hentry post">

                            <div class="post__author author vcard inline-items">
                                <img src="{{ asset('') }}{{ vich_uploader_asset(curr_user, 'imageFile') }}" style="width: 36px; height: 36px" alt="author">

                                <div class="author-date">
                                    <a class="h6 post__author-name fn" href="02-ProfilePage.html">{{curr_user.prenom ~" "~ curr_user.nom }}</a>
                                    <div class="post__date">
                                        <time class="published" datetime="2017-03-24T18:18">{{ p.datepublication|date("D d-m-Y g:i A") }}</time>
                                    </div>
                                </div>

                                <div class="more">
                                    <svg class="olymp-three-dots-icon"><use xlink:href={{ asset("icons/icons.svg#olymp-three-dots-icon") }}></use></svg>
                                    <ul class="more-dropdown">

                                        <li>
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal" data-id="{{ p.id }}" data-whatever="{{ p.contenu }}" id="{{ p.id }}" class="clickmod">Modifier Status</a>

                                        </li>

                                        <form id="formd{{ p.id }}" method="POST" action="{{ path('groups_show', {'id': group.id})}}">
                                            <li>
                                                <a href="#" id="{{ p.id }}" class="clicksup">Supprimer Status</a>
                                                <input type="hidden" value="{{ p.id }}" name="idpubd">
                                            </li>
                                        </form>
                                    </ul>
                                </div>

                            </div>

                            <p>{{ p.contenu }}</p>


                        </article>
                    </div>
                {% endfor %}

            </div>

            <a href="#" id="loadMore" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="{{ asset("icons/icons.svg#olymp-three-dots-icon") }}"></use></svg></a>
        </div>

        <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
            <div class="ui-block">



                <!-- Your Profile  -->

                <div class="your-profile">
                    <div class="ui-block-title ui-block-title-small">
                        <h6 class="title">Your PROFILE</h6>
                    </div>

                    <div id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Group Settings
                                        <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                                    </a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <ul class="your-profile-menu">
                                    <li>
                                        {% if (app.user.id == group.owner.id) %}
                                        <a href="{{ path('groups_delete',{'id': group.id}) }}">Supprimer groupe</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if (app.user.id == group.owner.id) %}
                                        <a href="#" data-toggle="modal" data-target="#edit_form">modifier Groupe</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if (app.user.id != group.owner.id) %}

                                            <a href="#" data-toggle="modal" data-target="#form1" >Signaler groupe</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        {% if (app.user.id == group.owner.id) %}
                                            <a href="{{ path('groups_index') }}">Retour a la liste des groupes</a>
                                        {% endif %}
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="ui-block-title">
                        <a href="{{ path('fos_message_layout') }}" class="h6 title">Messenger</a>

                    </div>

                    <div class="ui-block-title">
                        <a href="{{ path('members_groups',{ id:group.id }) }}" class="h6 title">Membres de Groupes</a>
                        <a href="#" class="items-round-little bg-primary">{{ nbrmembers + 1}}</a>
                    </div>
                    <div class="ui-block-title">
                        <a href="{{ path('demande_groups',{ id:group.id }) }}" class="h6 title">Demande de rejoindre</a>
                        <a href="#" class="items-round-little bg-blue">{{ nbrdemande }}</a>
                    </div>
                </div>

                <!-- ... end Your Profile  -->


            </div>
        </div>
    </div>
</div>
</div>

{% endif %}
{% endblock %}


{% block js %}
    <script>
        $('.clicksup').click(function(e) {
            e.preventDefault();
        });
        $('.clicksup').click(function (e) {

            var idClicked = e.target.id;
            //console.log(idClicked);
            $('#formd'+idClicked ).submit();
        });
        $('.clickmod').click(function(e) {
            e.preventDefault();
        });
        $('.clickmod').click(function (e) {

            var idClicked = e.target.id;
            $('#formm'+idClicked ).submit();
        });
        //Modal modifier publication
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            var idpubmod = button.data('id')
            var modal = $(this)
            modal.find('#contenup').val(recipient)
            modal.find('input[type=hidden]').val(idpubmod)
        })
        //-------------------------
        $(function () {
            $(".divlm").slice(0, 4).show();

            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".divlm:hidden").slice(0, 4).slideDown();

                if ($(".divlm:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });
    </script>

{% endblock %}
