{% extends 'front.html.twig' %}
 {% block content %}


     <!-- ... end Responsive Header-BP -->


     <!-- Main Header BlogV1 -->

     <div class="main-header">
         <div class="content-bg-wrap bg-account"></div>
         <div class="container">
             <div class="row">
                 <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                     <div class="main-header-content">
                         <h1>List des Blogs</h1>

                     </div>
                 </div>
             </div>
         </div>

         <img class="img-bottom" src="{{ asset('template/') }}img/blog_bottom.png" alt="friends">
     </div>

     <!-- ... end Main BlogV1 -->


     <div class="container">
         <div class="row">
             <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 <div class="ui-block responsive-flex1200">
                     <div class="ui-block-title">

                         <div class="w-select">
                             <div class="title">Filter By:</div>
                             <fieldset class="form-group">
                                 <a class="btn btn-primary btn-md-2" {{ knp_pagination_sortable(blogs, 'dateCreation', 'date Creation') }}</a>
                             </fieldset>
                         </div>


                         <form class="w-search">
                             <div class="form-group with-button">
                                 <input class="form-control blog-search" type="text"
                                        placeholder="Search Blog Posts......">
                                 <button>
                                     <svg class="olymp-magnifying-glass-icon">
                                         <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                                     </svg>
                                 </button>

                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <div class="inline-items">
         {#Recherche par nom#}
     </div>
     <div class="container" id="blogRecherche">
     <div class="row">

         <div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">

             {% for blog in blogs %}

                 <div class="ui-block">


                     <!-- Post -->
                     <article class="hentry blog-post blog-post-v3">

                         <div class="post-thumb">
                             <img href="{{ path('blog_show', {id:blog.id}) }}"
                                  src="{{ asset('') }}{{ vich_uploader_asset(blog, 'imageFile') }}" alt="photo">
                             <a href="#" class="post-category bg-primary">{{ blog.categorie }}S</a>
                         </div>

                         <div class="post-content">

                             <div class="author-date">
                                 by
                                 <a class="h6 post__author-name fn" href="#">{{ blog.author }}</a>
                                 <div class="post__date">
                                     <time class="published" datetime="2017-03-24T18:18">
                                         Publié :
                                         {% set datePost = blog.dateCreation|date('d-m-Y') %}
                                         {% set today = "now"|date('d-m-Y') %}
                                         {% set difference = date(today).diff(date(datePost)) %}
                                         {% set leftDays = difference.days %}
                                         {% if datePost == today %}
                                             1 day
                                         {% else %}
                                             {{ leftDays }} days ago
                                         {% endif %}
                                     </time>
                                     </time>
                                 </div>
                             </div>

                             <a href="{{ path('blog_show', {id:blog.id}) }}" class="h3 post-title">{{ blog.title }}</a>
                             <p>    {{ blog.content|raw }}  </p>


                             <div class="post-additional-info inline-items">

                                 <ul class="friends-harmonic">

                                     <li>
                                         <a href="#">
                                             <img src="{{ asset('template/') }}img/icon-chat26.png" alt="icon">
                                         </a>
                                     </li>

                                 </ul>
                                 <div class="names-people-likes">
                                     {{ blog.likesnumber }}
                                 </div>

                                 <div class="comments-shared">
                                     <a href="#" class="post-add-icon inline-items">
                                         <svg class="olymp-speech-balloon-icon">
                                             <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
                                         </svg>
                                         <span>{{ blog.repliesnumber }}</span>
                                     </a>
                                 </div>

                             </div>
                         </div>

                     </article>

                     <!-- ... end Post -->

                 </div>
             {% endfor %}
             <!-- Pagination -->

             <div class="navigation">
                 {{ knp_pagination_render(blogs) }}

             </div>

             <!-- ... end Pagination -->

         </div>

         <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
             <aside>

                 <div class="ui-block">
                     <div class="ui-block-title">
                         <h6 class="title">Featured Posts</h6>
                     </div>
                 </div>

                 {% for b in blogsmax %}
                 <div class="ui-block">


                     <!-- Post -->

                     <article class="hentry blog-post blog-post-v3 featured-post-item">

                         <div class="post-thumb">
                             <img src="{{ asset('') }}{{ vich_uploader_asset(b, 'imageFile') }}" alt="photo">
                             <a href="{{ path('blog_show', {id:b.id}) }}"
                                class="post-category bg-primary">{{ b.categorie }}</a>
                         </div>

                         <div class="post-content">

                             <div class="author-date">
                                 by
                                 <a class="h6 post__author-name fn" href="#">{{ b.author }}</a>
                                 <div class="post__date">
                                     <time class="published" datetime="2017-03-24T18:18">
                                         Publié :
                                         {% set datePost = b.dateCreation|date('d-m-Y') %}
                                         {% set today = "now"|date('d-m-Y') %}
                                         {% set difference = date(today).diff(date(datePost)) %}
                                         {% set leftDays = difference.days %}
                                         {% if datePost == today %}
                                             1 day
                                         {% else %}
                                             {{ leftDays }} days ago
                                         {% endif %}                                     </time>
                                 </div>
                             </div>

                             <a href="{{ path('blog_show', {id:b.id}) }}" class="h4 post-title">{{ b.title }}</a>

                             <div class="post-additional-info inline-items">

                                 <ul class="friends-harmonic">

                                     <li>
                                         <a href="{{ path('blog_show', {id:b.id}) }}">
                                             <img src="{{ asset('template/') }}img/icon-chat26.png" alt="icon">
                                         </a>
                                     </li>

                                 </ul>
                                 <div class="names-people-likes">
                                     {{ b.likesnumber }}
                                 </div>

                                 <div class="comments-shared">
                                     <a href="#" class="post-add-icon inline-items">
                                         <svg class="olymp-speech-balloon-icon">
                                             <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
                                         </svg>
                                         <span>                                     {{ b.repliesnumber }}
</span>
                                     </a>
                                 </div>

                             </div>
                         </div>

                     </article>

                     <!-- ... end Post -->


                 </div>
                 {% endfor %}
             </aside>
         </div>
     </div>


     {% block js %}
         <script>

             $(document).ready(function () {
                 var searchRequest = null;
                 $(".blog-search").keyup(function () {
                     var minlength = 1;
                     var that = this;
                     var value = $(this).val();
                     var entitySelector = $("#blogRecherche").html('');
                     if (value.length >= minlength) {
                         if (searchRequest != null)
                             searchRequest.abort();
                         searchRequest = $.ajax({
                             type: "GET",
                             url: "{{ path('recherche_blog') }}",
                             data: {
                                 'q': value
                             },
                             dataType: "text",
                             success: function (msg) {
                                 if (value == $(that).val()) {
                                     var result = JSON.parse(msg);
                                     $.each(result, function (key, arr) {
                                         $.each(arr, function (id, value) {
                                             if (key == 'entities') {
                                                 if (id != 'error') {
                                                     entitySelector.append('<div class="ui-block">' +
                                                         '<article class="hentry blog-post blog-post-v3">' +
                                                         '<div class="post-thumb">' +
                                                         '<img src="{{ asset('images/') }}' + value[3] + '"  alt="photo">' +
                                                         '<a href="/Pi-Dev-Web/web/app_dev.php/user/blog/' + id + '/show" class="post-category bg-primary">' + value[2] + 'S</a></div>' +

                                                         '<div class="post-content"><div class="author-date">' +

                                                         '<a class="h6 post__author-name fn" href="#"> Publié ' + value[4] + '</a>' +
                                                         '<div class="post__date">' +
                                                         '<time class="published" datetime="2017-03-24T18:18"> Le ' + value[5] + '</time> </div></div>' +

                                                         '<a href="/Pi-Dev-Web/web/app_dev.php/user/blog/' + id + '/show" class="h3 post-title">' + value[0] + ' </a> <p>' + value[1] + ' </p>' +
                                                         '<div class="post-additional-info inline-items">' +
                                                         ' <ul class="friends-harmonic">' +
                                                         '<li>' +
                                                         '<a href="/Pi-Dev-Web/web/app_dev.php/user/blog/' + id + '/show">' +
                                                         '<img src="{{ asset('template/') }}img/icon-chat26.png" alt="icon">' +
                                                         '</a>' +
                                                         '</li>' +
                                                         '</ul>' +
                                                         '<div class="names-people-likes">' + value[6] + ' </div>' +
                                                         '<div class="comments-shared">' +
                                                         '<a href="#" class="post-add-icon inline-items">' +
                                                         '<svg class="olymp-speech-balloon-icon">' +
                                                         '<use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>' +
                                                         '</svg>' +
                                                         '<span>' + value[7] + '</span>' +
                                                         '</a>' +
                                                         '</div>' +
                                                         '</div>' +
                                                         '</div>' +

                                                         ' </article>' +

                                                         <!-- ... end Post -->

                                                         '</div><br><br>');

                                                 } else {
                                                     entitySelector.append('<li class="errorLi">' + value + '</li>');
                                                 }
                                             }
                                         });
                                     });
                                 }
                             }
                         });
                     }
                 });
             });
         </script>


     {% endblock %}

     <!-- Window-popup-CHAT for responsive min-width: 768px -->

     {#{% for blog in blogs %}#}
     {#<tr>#}
     {#<td><a href="{{ path('blog_show', { 'id': blog.id }) }}">{{ blog.id }}</a></td>#}
     {#<td>{{ blog.title }}</td>#}
     {#<td>{{ blog.content }}</td>#}
     {#<td>{{ blog.categorie }}</td>#}
     {#<td>{{ blog.image }}</td>#}
     {#<td>{{ blog.imageFile }}</td>#}
     {#<td>{{ blog.autrhor }}</td>#}
     {#<td>{% if blog.dateCreation %}{{ blog.dateCreation|date('Y-m-d') }}{% endif %}</td>#}
     {#<td>#}
     {#<ul>#}
     {#<li>#}
     {#<a href="{{ path('blog_show', { 'id': blog.id }) }}">show</a>#}
     {#</li>#}
     {#<li>#}
     {#<a href="{{ path('blog_edit', { 'id': blog.id }) }}">edit</a>#}
     {#</li>#}
     {#</ul>#}
     {#</td>#}
     {#</tr>#}
     {#{% endfor %}#}
     {#</tbody>#}
     {#</table>#}

     {#<ul>#}
     {#<li>#}
     {#<a href="{{ path('blog_new') }}">Create a new blog</a>#}
     {#</li>#}
     {#</ul>#}
 {% endblock %}