{% extends 'front.html.twig' %}

{% block content %}
    <!-- ... end Responsive Header-BP -->
    <div class="header-spacer header-spacer-small"></div>


    <div class="container">
        <div class="row mt50">
            <div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">


                    <!-- Single Post -->

                    <article class="hentry blog-post single-post single-post-v2">
                        <div class="control-block-button post-control-button">
                            {% if blog not in arr %}

                                <a href="{{ path('like_blog', {'id': blog.id} ) }}" class="btn btn-control">
                                    <svg class="olymp-like-post-icon">
                                        <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
                                    </svg>
                                    <div class="ripple-container"></div>
                                </a>
                            {% endif %}

                            <a href="#" class="btn btn-control">
                                <svg class="olymp-comments-post-icon">
                                    <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
                                </svg>
                            </a>

                            <a href="#" class="btn btn-control">
                                <svg class="olymp-share-icon">
                                    <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-share-icon"></use>
                                </svg>
                            </a>

                        </div>
                        <a href="#" class="post-category bg-blue-light">{{ blog.categorie }}</a>
                        <h2 class="h1 post-title">{{ blog.title }}</h2>

                        <div class="single-post-additional inline-items">
                            <div class="post__author author vcard inline-items">
                                <img alt="author" src="{{ asset('') }}{{ vich_uploader_asset(app.user, 'imageFile') }}"
                                     class="avatar">
                                <div class="author-date not-uppercase">
                                    <a class="h6 post__author-name fn" href="#">{{ blog.author }}</a>
                                    <div class="author_prof">
                                        Author
                                    </div>
                                </div>
                            </div>
                            <div class="post-date-wrap inline-items">
                                <svg class="olymp-calendar-icon">
                                    <use xlink:href="{{ asset('template/') }}icons/icons.svg#olymp-calendar-icon"></use>
                                </svg>
                                <div class="post-date">
                                    <a class="h6 date" href="#">{{ blog.dateCreation|date }}</a>
                                    <span>Date</span>
                                </div>
                            </div>
                            <div class="post-comments-wrap inline-items">
                                <svg class="olymp-comments-post-icon">
                                    <use xlink:href="{{ asset('template/') }}icons/icons.svg#olymp-comments-post-icon"></use>
                                </svg>
                                <div class="post-comments">
                                    <a class="h6 comments" href="#">{{ numberofcomments }}</a>
                                    <span>Comments</span>
                                </div>
                            </div>
                        </div>

                        <div class="post-thumb">
                            <img src="{{ asset('') }}{{ vich_uploader_asset(blog, 'imageFile') }}" alt="author">
                        </div>


                        <div class="post-content-wrap">

                            <div class="post-content">
                            </div><!-- .postimg-flat-->
                            <div class="entry-content">
                                <div class="article-text">
                                    {{ blog.content|raw }}
                                </div>
                            </div><!-- .entry-content -->

                        </div>
                </article>

                <!-- ... end Single Post -->


                <!-- Comments -->
                    {% for comment in comments %}

                        <ul class="comments-list">
                            <li class="comment-item">
                                <div class="post__author author vcard inline-items">
                                    <img src="{{ asset('template/') }}img/avatar10-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn"
                                           href="{{ path('Compte_homepage',{ id:comment.user.id }) }}">{{ comment.user.nom }} {{ comment.user.prenom }}</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2017-03-24T18:18">
                                                {% set datePost = comment.publishdate|date('d-m-Y') %}
                                                {% set today = "now"|date('d-m-Y') %}
                                                {% set difference = date(today).diff(date(datePost)) %}
                                                {% set leftDays = difference.days %}
                                                {% if datePost == today %}
                                                    1 day
                                                {% else %}
                                                    {{ leftDays }} days ago
                                                {% endif %}                                    </time>
                                        </div>
                                    </div>

                                    <a href="#" class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                        </svg>
                                    </a>

                                </div>

                                <p> {{ comment.content }}</p>

                                <a href="#" class="post-add-icon inline-items">
                                    <svg class="olymp-heart-icon">
                                        <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                    </svg>
                                    <span>8</span>
                                </a>
                                <a href="#" class="reply">Reply</a>
                            </li>

                        </ul>
                    {% endfor %}

                <!-- ... end Comments -->

                <a href="#" class="more-comments">View more comments <span>+</span></a>


                    <!-- PubComment Form  -->

                    <form class="comment-form inline-items" method="post" id="formcomment">

                    <div class="post__author author vcard inline-items">
                        <img src="{{ asset('') }}{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="author">

                        <div class="form-group with-icon-right ">
                            <textarea id="commentbox" class="form-control" name="comment-content"></textarea>
                            <div class="add-options-message">
                                <a href="#" class="options-message" data-toggle="modal"
                                   data-target="#update-header-photo">
                                    <svg class="olymp-camera-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-md-2 btn-primary">Post Comment</button>

                    <button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>

                </form>
                </div>
            </div>
        </div>
            </div>
    <!-- ... end PubComment Form  -->
    </div>
    </div>
    </div>



{% endblock %}
