{% extends 'front.html.twig' %}





{% block content %}


    <!-- ... end Responsive Header-BP -->
    <div class="header-spacer header-spacer-small"></div>


    <div class="container">
        <div class="row mt50">
            <div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                        {#<a href="#" class="btn btn-control bg-breez" data-toggle="modal" data-target="#edit_event">#}
                            {#<svg class="olymp-plus-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-plus-icon"></use></svg>#}
                        {#</a>#}

                </div>
                <div class="more">

                    <ul class="more-dropdown ">
                        {#<form  method="POST" action="">#}
                        <li>
                            <a href="#"  data-toggle="modal" data-target="#edit_event" class="clicksup">Modifier maison d'hote</a>
                            <a href="{{ path('maisonshotes_delete' , {'id':maisonsHote.id })  }}"  class="clicksup">Supprimer maison d'hote</a>


                        </li>
                        {#</form>#}
                    </ul>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg#olymp-three-dots-icon') }}"></use></svg></a>

                </div>

            </div>
                    <!-- Single Post -->

                    <article class="hentry blog-post single-post single-post-v2">


                        <h2 class="h1 post-title">{{ maisonsHote.nom }}</h2>

                        <div class="single-post-additional inline-items">
                            <div class="post__author author vcard inline-items">
                                <img alt="author"  src="img/avatar84-sm.jpg" class="avatar">
                                <div class="author-date not-uppercase">
                                    <a class="h6 post__author-name fn" href="#">{{ maisonsHote.user }}</a>
                                    <div class="author_prof">
                                        créer par
                                    </div>
                                </div>

                                <div class="post-date-wrap inline-items">
                                    <svg class="olymp-calendar-icon">
                                        <use xlink:href="{{ asset('template/')}}="{{ asset('template/')}}="icons/icons.svg#olymp-calendar-icon"></use>
                                    </svg>
                                    <div class="post-date">
                                        <a class="h6 date" href="#">{{ maisonsHote.pays }}</a>
                                        <span>Pays</span>
                                    </div>
                                </div>

                                <div class="post-comments-wrap inline-items">
                                    <svg class="olymp-comments-post-icon">
                                        <use xlink:href="{{ asset('template/')}}="{{ asset('template/')}}="icons/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                    <div class="post-comments">
                                        <a class="h6 comments" href="#">{{ maisonsHote.gouvernorat }}</a>
                                        <span>Gouvernorat</span>
                                    </div>
                                </div>

                                <div class="post-comments-wrap inline-items">
                                    <svg class="olymp-comments-post-icon">
                                        <use xlink:href="{{ asset('template/')}}="{{ asset('template/')}}="icons/icons.svg#olymp-comments-post-icon"></use>
                                    </svg>
                                    <div class="post-comments">
                                        <a class="h6 comments" href="#">{{ maisonsHote.tel }}</a>
                                        <span>Télephone</span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="post-thumb">
                            <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">
                        </div>


                        <div class="post-content-wrap">

                            <div class="post-content">
                                <h2 class="weight-normal">La maison d'hote : {{ maisonsHote.nom }}</h2>

                                <h5 class="weight-normal">
                                    {{ maisonsHote.description }}
                                </h5>
                                <h4 class="weight-normal">Adresse</h4>
                                <p>
                                    {{ maisonsHote.adresse }}
                                </p>
                                <h4 class="weight-normal">Site </h4>
                                <p>
                                    {{ maisonsHote.siteweb }}
                                </p>
                                <h4 class="weight-normal">Prix </h4>
                                <p>
                                    {{ maisonsHote.prix }}
                                </p>
                                <h4 class="weight-normal">Mail </h4>
                                <p>
                                    {{ maisonsHote.mail }}
                                </p>
                                <div class="single-post-slider">

                                    <div class="swiper-container" data-autoplay="4000">

                                        <!-- Additional required wrapper -->
                                        <div class="swiper-wrapper">
                                            <!-- Slides -->

                                            <div class="swiper-slide">
                                                <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">

                                            </div>

                                            <div class="swiper-slide">
                                                <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">

                                            </div>

                                            <div class="swiper-slide">
                                                <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">
                                            </div>

                                            <div class="swiper-slide">
                                                <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">

                                            </div>

                                            <div class="swiper-slide">
                                                <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">

                                            </div>

                                            <div class="swiper-slide">
                                                <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">
                                            </div>

                                        </div>

                                    </div>

                                    <!--Pagination tabs-->

                                    <div class="slider-slides">
                                        <a href="#" class="slides-item ">
                                            <img src="{{ asset('template/')}}/photo-tabs10.jpg" alt="slide">
                                            <div class="overlay overlay-dark"></div>
                                        </a>

                                        <a href="#" class="slides-item ">
                                            <img src="{{ asset('template/')}}/photo-tabs11.jpg" alt="slide">
                                            <div class="overlay overlay-dark"></div>
                                        </a>

                                        <a href="#" class="slides-item ">
                                            <img src="{{ asset('template/')}}/photo-tabs12.jpg" alt="slide">
                                            <div class="overlay overlay-dark"></div>
                                        </a>

                                        <a href="#" class="slides-item ">
                                            <img src="{{ asset('template/')}}/photo-tabs13.jpg" alt="slide">
                                            <div class="overlay overlay-dark"></div>
                                        </a>
                                        <a href="#" class="slides-item ">
                                            <img src="{{ asset('template/')}}/photo-tabs14.jpg" alt="slide">
                                            <div class="overlay overlay-dark"></div>
                                        </a>

                                        <a href="#" class="slides-item ">
                                            <img src="{{ asset('template/')}}/photo-tabs15.jpg" alt="slide">
                                            <div class="overlay overlay-dark"></div>
                                        </a>


                                        <!--Prev Next Arrows-->

                                        <svg class="btn-next olymp-popup-right-arrow">
                                            <use xlink:href="{{ asset('template/')}}="{{ asset('template/')}}="icons/icons.svg#olymp-popup-right-arrow"></use>
                                        </svg>

                                        <svg class="btn-prev olymp-popup-left-arrow">
                                            <use xlink:href="{{ asset('template/')}}="{{ asset('template/')}}="icons/icons.svg#olymp-popup-left-arrow"></use>
                                        </svg>

                                    </div>

                                </div>

                                <p>
                                </p>
                            </div>
                        </div>



                        <div class="block-btn align-right">
                            <a href="#" data-toggle="modal" data-target="#create-photo-album" class="btn btn-primary btn-md-2">Reserver</a>
                            <a href="#" data-toggle="modal" data-target="" class="btn btn-primary btn-md-2">Contacter</a>
                        </div>

                    </article>
                </div>
            </div>
        </div>
    </div>


    <!-- Window-popup edit hotes -->

    <div class="modal fade" id="edit_event" tabindex="-1" role="dialog" aria-labelledby="edit_event" aria-hidden="true">
        <div class="modal-dialog window-popup create-event" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>
                <div class="modal-header">
                    <h6 class="title">Modifier Maison d'hote</h6>
                </div>


                <div class="modal-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.nom) }}
                        {{ form_widget(edit_form.nom) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.site_web) }}
                        {{ form_widget(edit_form.site_web) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.mail) }}
                        {{ form_widget(edit_form.mail) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.tel) }}
                        {{ form_widget(edit_form.tel) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.pays) }}
                        {{ form_widget(edit_form.pays) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.gouvernorat) }}
                        {{ form_widget(edit_form.gouvernorat) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.adresse) }}
                        {{ form_widget(edit_form.adresse) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.image) }}
                        {{ form_widget(edit_form.image) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.description) }}
                        {{ form_widget(edit_form.description) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.capacites) }}
                        {{ form_widget(edit_form.capacites) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.prix) }}
                        {{ form_widget(edit_form.prix) }}
                    </div>

                    {{ form_end(edit_form) }}
            </div>
            </div>
        </div>
    </div>

    <!-- end window popup edit hotes -->


    <!-- Window-popup Reservation-->

    <div class="modal fade" id="create-photo-album" tabindex="-1" role="dialog" aria-labelledby="create-photo-album" aria-hidden="true">
        <div class="modal-dialog window-popup create-photo-album" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>

                            <div class="modal-header">
                                <h6 class="title">Réservation</h6>
                            </div>

                <form class="form-group label-floating is-select" methode="post">

                        <div class="modal-body">

                                    <div class="form-group date-time-picker label-floating">
                                        <label class="control-label">Date Début</label>
                                        <input name="date_debut" value="26/03/2016" type="date" >
                                        <span class="input-group-addon">
                                            <svg class="olymp-calendar-icon icon">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
                                            </svg>
                                        </span>
                                    </div>

                                        <div class="form-group date-time-picker label-floating">
                                            <label class="control-label">Date Fin</label>
                                            <input name="date_fin" value="26/03/2016" type="date">
                                            <span class="input-group-addon">
                                                <svg class="olymp-calendar-icon icon">
                                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
                                                </svg>
                                            </span>
                                        </div>

                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Nombre de place</label>
                                            <input class="form-control" placeholder="" value="" type="number" name="nb_place">
                                        </div>
                                <button type="submit" class="btn btn-primary btn-lg btn--half-width" href="{{path ('maisonshotes_reservation' )}}" >Reserver</button>
                                <button type="submit" class="btn btn-primary btn-lg btn--half-width">Annuler</button>


                              {#<a href="#" class="btn btn-primary btn-lg btn--half-width">Annuler</a><a href="#" class="btn btn-secondary btn-lg btn--half-width" >Reserver </a>#}

                        </div>
                  </form>
               </div>
            </div>
        </div>


    <!-- ... end Window-popup Resevation -->
































{% endblock %}

