{% extends 'front.html.twig' %}

{% block content %}


    <!-- ... end Responsive Header-BP -->
    <div class="header-spacer header-spacer-small"></div>


    <div class="container">
        <div class="row mt50">
            <div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="more">
                        <ul class="more-dropdown ">
                            <li>
                                <a href="#"  data-toggle="modal" data-target="#edit_event" class="clicksup">Modifier maison d'hote</a>
                                <a href="{{ path('maisonshotes_delete' , {'id':maisonsHote.id })  }}"  class="clicksup">Supprimer maison d'hote</a>
                            </li>
                        </ul>
                        <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="{{ asset('icons/icons.svg#olymp-three-dots-icon') }}"></use></svg></a>
                    </div>

                    <!-- Single Post -->

                    <article class="hentry blog-post single-post single-post-v2">

                        {#<a href="#" class="post-category bg-blue-light">THE COMMUNITY</a>#}
                        <h2 class="h1 post-title">{{ maisonsHote.nom }}</h2>

                        <div class="single-post-additional inline-items">
                            <div class="post__author author vcard inline-items">
                                <img alt="author" src="img/avatar84-sm.jpg" class="avatar">
                                <div class="author-date not-uppercase">
                                    <a class="h6 post__author-name fn" href="#">{{ maisonsHote.user }}</a>
                                    <div class="author_prof">

                                    </div>
                                </div>
                            </div>
                            <div class="post-date-wrap inline-items">
                                <svg class="olymp-calendar-icon">
                                    <use xlink:href="icons/icons.svg#olymp-calendar-icon"></use>
                                </svg>
                                <div class="post-date">
                                    <a class="h6 date" href="#">{{ maisonsHote.pays }}</a>
                                    <span>Pays</span>
                                </div>
                            </div>
                            <div class="post-comments-wrap inline-items">
                                <svg class="olymp-comments-post-icon">
                                    <use xlink:href="icons/icons.svg#olymp-comments-post-icon"></use>
                                </svg>
                                <div class="post-comments">
                                    <a class="h6 comments" href="#">{{ maisonsHote.gouvernorat }}</a>
                                    <span>Région</span>
                                </div>
                            </div>
                            <div class="post-date-wrap inline-items">
                                <svg class="olymp-calendar-icon">
                                    <use xlink:href="icons/icons.svg#olymp-calendar-icon"></use>
                                </svg>
                                <div class="post-date">
                                    <a class="h6 date" href="#">{{ maisonsHote.tel }} ></a>
                                    <span>Télèphone</span>
                                </div>
                            </div>
                        </div>

                        <div class="post-thumb">
                            <img src="{{ asset('images/' ~ maisonsHote.image) }}" alt="photo">
                        </div>


                        <div class="post-content-wrap">

                            <div class="post-content">
                                <h5 class="weight-normal">Déscription :  </h5>
                                <p>
                                    {{ maisonsHote.description }}
                                </p>

                                <h3>Adresse</h3>
                                <p>
                                    {{ maisonsHote.adresse }}
                                </p>
                                <h3>Site</h3>
                                <p>
                                    {{ maisonsHote.siteweb }}
                                </p>
                                <h3>Prix</h3>
                                <p>
                                  {{ maisonsHote.prix }} d la nuit
                                </p>
                                <h3>Mail</h3>
                                <p>
                                    {{ maisonsHote.mail }}
                                </p>

                            </div>
                        </div>
                    </article>

                    <!-- ... end Single Post -->


                    <!-- Comments -->
                    {% for comment in comments %}

                        <ul class="comments-list">
                            <li class="comment-item">
                                <div class="post__author author vcard inline-items">
                                    <img src="{{ asset('template/') }}img/avatar10-sm.jpg" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn"
                                           href="{{ path('Compte_homepage',{ id:comment.user.id }) }}">{{ comment.user.nom }} {{ comment.user.prenom }}</a>
                                        <div class="post__date">
                                            <time class="published" datetime="2017-03-24T18:18">
                                                {% set datePost = comment.publishdate|date('d-m-Y') %}
                                                {% set today = "now"|date('d-m-Y') %}
                                                {% set difference = date(today).diff(date(datePost)) %}
                                                {% set leftDays = difference.days %}
                                                {% if datePost == today %}
                                                    1 day
                                                {% else %}
                                                    {{ leftDays }} days ago
                                                {% endif %}                                    </time>
                                        </div>
                                    </div>

                                    <a href="#" class="more">
                                        <svg class="olymp-three-dots-icon">
                                            <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                                        </svg>
                                    </a>

                                </div>

                                <p> {{ comment.content }}</p>

                                <a href="#" class="post-add-icon inline-items">
                                    <svg class="olymp-heart-icon">
                                        <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                                    </svg>
                                    <span>8</span>
                                </a>
                                <a href="#" class="reply">Reply</a>
                            </li>

                        </ul>
                    {% endfor %}

                    <!-- ... end Comments -->

                    <a href="#" class="more-comments">View more comments <span>+</span></a>


                    <!-- Comment Form  -->
                    <form class="comment-form inline-items" method="post" id="formcomment">

                        <div class="post__author author vcard inline-items">

                            {#<img src="{{ asset('') }}{{ vich_uploader_asset(app.user, 'imageFile') }}"#}
                                 {#alt="author">#}
                            <div class="form-group with-icon-right ">
                                        <textarea id="commentbox" class="form-control"
                                                  name="comment-content"></textarea>
                                <div class="add-options-message">
                                    <a href="#" class="options-message" data-toggle="modal"
                                       data-target="#update-header-photo">
                                        <svg class="olymp-camera-icon">
                                            <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                        </svg>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <button class="btn btn-md-2 btn-primary">Post Comment</button>

                        <button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">
                            Cancel
                        </button>

                    </form>

                    <!-- ... end Comment Form  -->
                </div>
            </div>
        </div>
    </div>



































    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    <div class="block-btn align-right">
        <a href="#" data-toggle="modal" data-target="#create-photo-album" class="btn btn-primary btn-md-2">Reserver</a>
        <a href="#" data-toggle="modal" data-target="" class="btn btn-primary btn-md-2">Contacter</a>
    </div>
    <!-- Window-popup edit hotes -->

    <div class="modal fade" id="edit_event" tabindex="-1" role="dialog" aria-labelledby="edit_event" aria-hidden="true">
        <div class="modal-dialog window-popup create-event" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>
                <div class="modal-header">
                    <h6 class="title">Modifier Maison d'hote</h6>
                </div>


                <div class="modal-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.nom) }}
                        {{ form_widget(edit_form.nom) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.site_web) }}
                        {{ form_widget(edit_form.site_web) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.mail) }}
                        {{ form_widget(edit_form.mail) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.tel) }}
                        {{ form_widget(edit_form.tel) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.pays) }}
                        {{ form_widget(edit_form.pays) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.gouvernorat) }}
                        {{ form_widget(edit_form.gouvernorat) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.adresse) }}
                        {{ form_widget(edit_form.adresse) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.image) }}
                        {{ form_widget(edit_form.image) }}
                    </div>

                    <div class="form-group label-floating">
                        {{ form_label(edit_form.description) }}
                        {{ form_widget(edit_form.description) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.capacites) }}
                        {{ form_widget(edit_form.capacites) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.prix) }}
                        {{ form_widget(edit_form.prix) }}
                    </div>

                    {{ form_end(edit_form) }}
            </div>
            </div>
        </div>
    </div>

    <!-- end window popup edit hotes -->


    <!-- Window-popup Reservation-->

    <div class="modal fade" id="create-photo-album" tabindex="-1" role="dialog" aria-labelledby="create-photo-album" aria-hidden="true">
        <div class="modal-dialog window-popup create-photo-album" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>

                            <div class="modal-header">
                                <h6 class="title">Réservation</h6>
                            </div>

                <form class="form-group label-floating is-select" methode="post" >

                        <div class="modal-body">

                                    <div class="form-group date-time-picker label-floating">
                                        <label class="control-label">Date Début</label>
                                        <input name="date_debut" value="26/03/2016" type="date" >
                                        <span class="input-group-addon">
                                            <svg class="olymp-calendar-icon icon">
                                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
                                            </svg>
                                        </span>
                                    </div>

                                        <div class="form-group date-time-picker label-floating">
                                            <label class="control-label">Date Fin</label>
                                            <input name="date_fin" value="26/03/2016" type="date">
                                            <span class="input-group-addon">
                                                <svg class="olymp-calendar-icon icon">
                                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use>
                                                </svg>
                                            </span>
                                        </div>

                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">Nombre de place</label>
                                            <input class="form-control" placeholder="" value="" type="number" name="nb_place">
                                        </div>
                                <button type="submit" class="btn btn-primary btn-lg btn--half-width" >Reserver</button>
                                <button type="submit" class="btn btn-primary btn-lg btn--half-width">Annuler</button>


                              {#<a href="#" class="btn btn-primary btn-lg btn--half-width">Annuler</a><a href="#" class="btn btn-secondary btn-lg btn--half-width" >Reserver </a>#}

                        </div>
                  </form>
               </div>
            </div>
        </div>


    <!-- ... end Window-popup Resevation -->
































{% endblock %}

