{% extends 'shop.html.twig' %}

{% block root %}
    <!-- ... end Header Standard Landing  -->
    <div class="header-spacer--standard"></div>

    <div class="stunning-header-content">
        <h1 class="stunning-header-title">Votre Panier</h1>
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a href="{{ path('shop_homepage') }}">Accueil</a>
                <span class="icon breadcrumbs-custom">/</span>
            </li>
            <li class="breadcrumbs-item active">
                <span>Panier</span>
            </li>
        </ul>
    </div>

    <div class="content-bg-wrap stunning-header-bg1"></div>
    </div>

    <!-- End Stunning header -->
{% endblock %}
{% block body %}


    <section>
        <div class="container">
            <div class="row">
                <div class="col col-xl-10 m-auto col-lg-10 col-md-12 col-sm-12 col-12">
                    <form action="#" method="post" class="cart-main">


                        <!-- Shop Table Cart -->

                        <table class="shop_table cart">
                            <thead>
                            <tr>
                                <th class="product-thumbnail">DESCRIPTION</th>
                                <th class="product-price">PRIX UNITAIRE</th>
                                <th class="product-quantity">QUANTITE</th>
                                <th class="product-subtotal">TOTAL</th>
                                <th class="product-remove">SUPPRIMER</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in panier %}
                                <tr class="cart_item">

                                    <td class="product-thumbnail">

                                        <div class="cart-product__item">
                                            <a href="{{ asset('template/') }}img/product-small1.png"
                                               class="product-thumb js-zoom-image">
                                                <img src="{{ asset('shopImg/' ~ p.produitp.imageId) }}" alt="product"
                                                     class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                            </a>
                                            <div class="cart-product-content">
                                                <a href="#" class="product-category">{{ p.produitp.nom }}</a>
                                                <a href="#" class="h6 cart-product-title">{{ p.produitp.nom }}</a>
                                                <ul class="rait-stars">
                                                    {% if p.produitp.stars|number_format(0, '.', ',') == 0 %}
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                    {% endif %}
                                                    {% if p.produitp.stars|number_format(0, '.', ',') == 1 %}
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                    {% endif %}
                                                    {% if p.produitp.stars|number_format(0, '.', ',') == 2 %}
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                    {% endif %}
                                                    {% if p.produitp.stars|number_format(0, '.', ',') == 3 %}
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                    {% endif %}
                                                    {% if p.produitp.stars|number_format(0, '.', ',') == 4 %}
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="far fa-star star-icon" aria-hidden="true"></i>
                                                        </li>
                                                    {% endif %}
                                                    {% if p.produitp.stars|number_format(0, '.', ',') == 5 %}
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                        <li>
                                                            <i class="fa fa-star star-icon c-primary"
                                                               aria-hidden="true"></i>
                                                        </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </td>

                                    <td class="product-price">
                                        <h6 class="price amount">${{ p.produitp.prix }}</h6>
                                    </td>

                                    <td class="product-quantity">

                                        <div class="form-group label-floating quantity">

                                            <a href="#" class="h6 cart-product-title">{{ p.quantite }}</a>
                                            {#<label class="control-label">Quantity</label>#}
                                            {#<a href="#" class="quantity-minus">&#8744;</a>#}
                                            {#<input title="Qty" class="form-control" value="{{ p.quantite }}" type="text">#}
                                            {#<a href="#" class="quantity-plus">&#8743;</a>#}
                                        </div>

                                    </td>

                                    <td class="product-subtotal">
                                        <h6 class="total amount">${{ p.prix }}</h6>
                                    </td>

                                    <td class="product-remove">
                                        <a href="{{ path('shop_deletechpanier',{'id':p.id}) }}"
                                           class="product-del remove"
                                           title="Remove this item">
                                            <svg class="olymp-close-icon">
                                                <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <!-- ... end Shop Table Cart -->
                    </form>

                    <div class="row medium-padding100">


                        <div class="col col-xl-5 ml-auto col-lg-5 col-md-6 col-sm-12 col-12">
                            <div class="crumina-module crumina-heading with-title-decoration">
                                <h5 class="heading-title">Ordre du Total</h5>
                            </div>


                            <!-- Order Totals List -->

                            <ul class="order-totals-list">

                                <li class="total">
                                    Ordre du Total <span>${{ total }}</span>
                                </li>
                            </ul>

                            <!-- ... end Order Totals List -->

                            <a href="{{ path('app_orders_new',{'amount':total}) }}"
                               class="btn btn-purple btn-lg full-width">Vérifier votre Panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




{% endblock %}