{% extends 'front.html.twig' %}

{% block content %}

    <!-- MODAL Signal profil -->
    <form name="fmod" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 id="exampleModalLabel">Raison de Signal:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">

                            <div class="form-group with-icon label-floating is-empty">

                                <textarea class="form-control" placeholder="" id="contenusignal"
                                          name="ncontenusignal"></textarea>
                                <input type="hidden" value="" name="idautreprofil">
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="submitSig">Signaler</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- Top Header -->

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="top-header top-header-favorit">
                        <div class="top-header-thumb">
                            <img src="{{ asset('img/header.jpg') }}" alt="nature">
                            <div class="top-header-author">
                                <div class="author-thumb">
                                    <img src="{{ asset('') }}{{ vich_uploader_asset(autreUser, 'imageFile') }}"
                                         alt="author">
                                </div>
                                <div class="author-content">
                                    <a href="#" class="h3 author-name">{{ autreUser.prenom ~" "~ autreUser.nom }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-xl-8 m-auto col-lg-8 col-md-12">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="{{ path('Compte_homepage',{'id':autreUser.id}) }}">Journal</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('Compte_apropos',{'id':autreUser.id}) }}">A Propos</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('Compte_album',{'id':autreUser.id}) }}">Album Photos</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <div class="control-block-button">

                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon">
                                        <use xlink:href="{{ asset('icons/icons.svg#olymp-settings-icon') }}"></use>
                                    </svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal"
                                               data-whatever="{{ autreUser.id }}">Signaler ce Profil</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ... end Top Header -->

    <div class="container">
        <div class="row">
            <div class="col-xl-8 order-xl-2 col-lg-8 order-lg-2 col-md-12 order-md-1 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Loisirs et Centres d'interets</h6>
                    </div>
                    <div class="ui-block-content">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">Série de télévision préférées:</span>
                                        <span class="text">
                                            {% for s in series %}
                                                {{ s.contenu~", " }}
                                            {% endfor %}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">Films préférés:</span>
                                        <span class="text">
                                            {% for f in films %}
                                                {{ f.contenu~", " }}
                                            {% endfor %}
                                        </span>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <ul class="widget w-personal-info item-block">
                                    <li>
                                        <span class="title">Groupes de musique / Artistes préférés:</span>
                                        <span class="text">
                                            {% for a in artists %}
                                                {{ a.contenu~", " }}
                                            {% endfor %}
                                        </span>
                                    </li>
                                    <li>
                                        <span class="title">Livres préférés:</span>
                                        <span class="text">
                                            {% for l in livres %}
                                                {{ l.contenu~", " }}
                                            {% endfor %}
                                        </span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-xl-4 order-xl-1 col-lg-4 order-lg-1 col-md-12 order-md-2 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Informations Personelle</h6>
                    </div>
                    <div class="ui-block-content">
                        <ul class="widget w-personal-info">
                            <li>
                                <span class="title">Description:</span>
                                <span class="text">{{ autreUser.description }}</span>
                            </li>
                            <li>
                                <span class="title">Date de Naissance:</span>
                                <span class="text">{{ autreUser.datenaissance|date("j F Y") }}</span>
                            </li>

                            <li>
                                <span class="title">Sexe:</span>
                                <span class="text">
                                    {% if autreUser.Gender=="F" %}
                                        Femme
                                    {% endif %}
                                    {% if autreUser.Gender=="M" %}
                                        Homme
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Vit en:</span>
                                <span class="text" id="vitspan"></span>
                            </li>

                            <li>
                                <span class="title">Derniere Connexion:</span>
                                <span class="text">{{ autreUser.lastLogin|date("j F Y") }}</span>
                            </li>
                            <li>
                                <span class="title">Email:</span>
                                <span class="text">{{ autreUser.email }}</span>
                            </li>
                            <li>
                                <span class="title">Numéro de Téléphone:</span>
                                <span class="text">{{ autreUser.tel }}</span>
                            </li>
                            <li>
                                <span class="title">Religion:</span>
                                <span class="text">
                                    {% if autreUser.relegion=="I" %}
                                        Islam
                                    {% endif %}
                                    {% if autreUser.relegion=="C" %}
                                        Christianisme
                                    {% endif %}
                                    {% if autreUser.relegion=="J" %}
                                        Judaïsme
                                    {% endif %}
                                    {% if autreUser.relegion=="H" %}
                                        Hindouisme
                                    {% endif %}
                                    {% if autreUser.relegion=="B" %}
                                        Bouddhisme
                                    {% endif %}
                                </span>
                            </li>
                        </ul>

                        <div class="widget w-socials">
                            <h6 class="title">Autres réseaux sociaux:</h6>
                            <a href="{{ autreUser.facebook }}" class="social-item bg-facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                Facebook
                            </a>
                            <a href="{{ autreUser.twitter }}" class="social-item bg-twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                Twitter
                            </a>
                            <a href="{{ autreUser.instagram }}" class="social-item bg-dribbble">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                Instagram
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        var BATTUTA_KEY = "64ce08de6549c8476cf8956a351fd81d";

        function vitEn(country, ville) {
            var url1 = "http://battuta.medunes.net/api/country/code/" + country + "/?key=" + BATTUTA_KEY + "&callback=?";

            //var url3="http://battuta.medunes.net/api/city/"+country+"/search/?region="+"{{ autreUser.ville }}"+"&key="+BATTUTA_KEY+"&callback=?";

            $.getJSON(url1, function (c) {
                getPays(c[0].name);
            });

            function getPays(x) {
                $('#vitspan').text(x + ", " + "{{ autreUser.ville }}");
            }

        }

        //--------------------------------------
        vitEn("{{ autreUser.pays }}");
        //--------------------------------
        $('#submitSig').click(function (e) {
            //var idClicked = e.target.id;
            $('#formm').submit();
        });
        //Modal signal profil
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var recipient = button.data('whatever')
            //var idautreprofil = button.data('id')
            var modal = $(this)
            //modal.find('#contenup').val(recipient)
            modal.find('input[type=hidden]').val(recipient)
            //modal.find('.modal-body input').val(recipient)
        })
    </script>

{% endblock %}

