{% for comment in comments %}

    <ul class="comments-list">
        <li class="comment-item">
            <div class="post__author author vcard inline-items">
                <img src="{{ asset('template/') }}img/avatar10-sm.jpg" alt="author">

                <div class="author-date">
                    <a class="h6 post__author-name fn"
                       href="{{ path('Compte_homepage',{ id:comment.user.id }) }}">{{ comment.user.nom }} {{ comment.user.prenom }}</a>
                    <div class="post__date">
                        <time class="published" datetime="2017-03-24T18:18">
                            {% set datePost = comment.publishdate|date('d-m-Y') %}
                            {% set today = "now"|date('d-m-Y') %}
                            {% set difference = date(today).diff(date(datePost)) %}
                            {% set leftDays = difference.days %}
                            {% if datePost == today %}
                                1 day
                            {% else %}
                                {{ leftDays }} days ago
                            {% endif %}                                    </time>
                    </div>
                </div>

                <a href="#" class="more">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                    </svg>
                </a>

            </div>

            <p> {{ comment.content }}</p>

            <a href="#" class="post-add-icon inline-items">
                <svg class="olymp-heart-icon">
                    <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
                </svg>
                <span>8</span>
            </a>
        </li>
    </ul>
{% endfor %}