{% extends 'front.html.twig' %}

{% block css %}
    <style>
        .divlm {
            display: none;
        }

    </style>
{% endblock %}

{% block content %}

    <!-- MODAL Signal profil -->
    <form name="fmod" method="POST">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 id="exampleModalLabel">Raison de Signal:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <div class="form-group">

                            <div class="form-group with-icon label-floating is-empty">

                                <textarea class="form-control" placeholder="" id="contenusignal"
                                          name="contenusignal"></textarea>
                                <input type="hidden" value="" name="idautreprofil">
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary" id="submitSig">Signaler</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <!-- Top Header -->

    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="top-header top-header-favorit">
                        <div class="top-header-thumb">
                            <img src="{{ asset('img/header.jpg') }}" alt="nature">
                            <div class="top-header-author">
                                <div class="author-thumb">
                                    <img src="{{ asset('') }}{{ vich_uploader_asset(autreUser, 'imageFile') }}"
                                         alt="author">
                                </div>
                                <div class="author-content">
                                    <a href="#" class="h3 author-name">{{ autreUser.prenom ~" "~ autreUser.nom }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col-xl-8 m-auto col-lg-8 col-md-12">
                                    <ul class="profile-menu">
                                        <li>
                                            <a href="{{ path('Compte_homepage',{'id':autreUser.id}) }}">Journal</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('Compte_apropos',{'id':autreUser.id}) }}">A Propos</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('Compte_album',{'id':autreUser.id}) }}">Album Photos</a>
                                        </li>



                                    </ul>
                                </div>
                            </div>

                            <div class="control-block-button">
                                <a href="{{ path('Compte_demande',{'id':autreUser.id}) }}"
                                   class="btn btn-control bg-blue">
                                    <svg class="olymp-happy-face-icon">
                                        <use xlink:href="{{ asset('template/svg-icons') }}/sprites/icons.svg#olymp-happy-face-icon"></use>
                                    </svg>
                                </a>

                                <div class="btn btn-control bg-primary more">
                                    <svg class="olymp-settings-icon">
                                        <use xlink:href="{{ asset('icons/icons.svg#olymp-settings-icon') }}"></use>
                                    </svg>

                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li>
                                            <a href="#exampleModal" data-toggle="modal" data-target="#exampleModal"
                                               data-whatever="{{ autreUser.id }}">Signaler ce Profil</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ... end Top Header -->

    <div class="container">
        <div class="row">

            <!-- Main Content -->

            <div class="col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-xs-12">
                <div id="newsfeed-items-grid">

                    <!--  Status block -->
                    {% for p in pubs %}
                        <div class="ui-block divlm">
                            <article class="hentry post">
                                <div class="post__author author vcard inline-items">
                                    <img src="{{ asset('') }}{{ vich_uploader_asset(autreUser, 'imageFile') }}"
                                         style="width: 36px; height: 36px" alt="author">

                                    <div class="author-date">
                                        <a class="h6 post__author-name fn"
                                           href="02-ProfilePage.html">{{ autreUser.prenom ~" "~ autreUser.nom }}</a>
                                        <div class="post__date">
                                            <time class="published"
                                                  datetime="2017-03-24T18:18">{{ p.datepublication|date("D d-m-Y g:i A") }}</time>
                                        </div>
                                    </div>
                                </div>
                                <p>{{ p.contenu }}</p>
                            </article>
                            {{ render(controller('UserBundle:Compte:Comment', {
                                'id': p.id
                            })) }}
                            <form class="comment-form inline-items" method="get" id="formcomment">

                                <input type="hidden" value="{{ p.id }}" name="idpub" id="idpub">
                            </form>
                            <form class="comment-form inline-items" method="post" id="formcomment">

                                <div class="post__author author vcard inline-items">
                                    <img src="{{ asset('') }}{{ vich_uploader_asset(app.user, 'imageFile') }}"
                                         alt="author">

                                    <div class="form-group with-icon-right ">
                                        <textarea id="commentbox" class="form-control"
                                                  name="comment-content"></textarea>
                                        <input type="hidden" value="{{ p.id }}" name="idp" id="idp">

                                        <div class="add-options-message">
                                            <a href="#" class="options-message" data-toggle="modal"
                                               data-target="#update-header-photo">
                                                <svg class="olymp-camera-icon">
                                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
                                                </svg>
                                            </a>

                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-md-2 btn-primary">Post Comment</button>

                                <button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">
                                    Cancel
                                </button>

                            </form>
                        </div>
                    {% endfor %}
                    <!-- END Status Block -->
                </div>

                <a href="#" id="loadMore" class="btn btn-control btn-more" data-load-link="items-to-load.html"
                   data-container="newsfeed-items-grid">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="{{ asset("icons/icons.svg#olymp-three-dots-icon") }}"></use>
                    </svg>
                </a>
            </div>

            <!-- ... end Main Content -->


            <!-- Left Sidebar -->

            <div class="col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Vue Globale</h6>
                    </div>
                    <div class="ui-block-content">
                        <ul class="widget w-personal-info item-block">
                            <li>
                                <span class="title">Description:</span>
                                <span class="text">{{ autreUser.description }}</span>
                            </li>
                            <li>
                                <span class="title">Série de télévision préférées:</span>
                                <span class="text">
                                    {% for s in series %}
                                        {{ s.contenu~", " }}
                                    {% endfor %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Groupes de musique / Artistes préférés:</span>
                                <span class="text">
                                    {% for a in artists %}
                                        {{ a.contenu~", " }}
                                    {% endfor %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Films préférés:</span>
                                <span class="text">
                                    {% for f in films %}
                                        {{ f.contenu~", " }}
                                    {% endfor %}
                                </span>
                            </li>
                            <li>
                                <span class="title">Livres préférés:</span>
                                <span class="text">
                                    {% for l in livres %}
                                        {{ l.contenu~", " }}
                                    {% endfor %}
                                </span>
                            </li>
                        </ul>

                        <div class="widget w-socials">
                            <h6 class="title">Autres réseaux sociaux:</h6>
                            <a href="{{ autreUser.facebook }}" class="social-item bg-facebook">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                Facebook
                            </a>
                            <a href="{{ autreUser.twitter }}" class="social-item bg-twitter">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                Twitter
                            </a>
                            <a href="{{ autreUser.instagram }}" class="social-item bg-dribbble">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                Instagram
                            </a>
                        </div>
                    </div>
                </div>


            </div>

            <!-- ... end Left Sidebar -->


            <!-- Right Sidebar -->

            <div class="col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-12 col-xs-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Dernières Photos</h6>
                    </div>
                    <div class="ui-block-content">
                        <ul class="widget w-last-photo js-zoom-gallery">
                            {% for p in photos %}

                                <li>
                                    <img src="{{ asset('') }}{{ vich_uploader_asset(p, 'imageFile') }}" alt="photo">
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>

            <!-- ... end Right Sidebar -->

        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        /*$('.clickmod').click(function(e) {
            e.preventDefault();
        });*/
        $('#submitSig').click(function (e) {
            //var idClicked = e.target.id;
            $('#formm').submit();
        });
        //Modal signal profil
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var recipient = button.data('whatever');
            //var idautreprofil = button.data('id')
            var modal = $(this);
            //modal.find('#contenup').val(recipient)
            modal.find('input[type=hidden]').val(recipient)
            //modal.find('.modal-body input').val(recipient)
        });
        //-------------------------
        $(function () {
            $(".divlm").slice(0, 4).show();

            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".divlm:hidden").slice(0, 4).slideDown();

                if ($(".divlm:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });
    </script>

{% endblock %}