<link rel="stylesheet" type="text/css" href="{{ webp }}Bootstrap/dist/css/bootstrap-reboot.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}Bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}Bootstrap/dist/css/bootstrap-grid.css">

<!-- Theme Styles CSS -->
<link rel="stylesheet" type="text/css" href="{{ webp }}css/theme-styles.css">
<link rel="stylesheet" type="text/css" href="{{ webp }} css/blocks.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}css/fonts.css">

<!-- Styles for plugins -->
<link rel="stylesheet" type="text/css" href="{{ webp }}css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}css/mediaelement-playlist-plugin.min.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}css/mediaelementplayer.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}css/daterangepicker.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}css/bootstrap-select.css">
<link rel="stylesheet" type="text/css" href="{{ webp }}template/css/main.min.css">

<!-- Lightbox popup script-->
<link rel="stylesheet" type="text/css" href="{{ webp }}css/magnific-popup.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<html>
<head>

    <title>Réservation pdf</title>

    <!-- Required meta tags always come first -->

</head>
<body class="body-bg-white">


<div class="main-header-post">
    <img src="{{ webp }}{{ reservation.MaisonsHotes.image }}" alt="author">
</div>


<div class="container negative-margin-top150 mb60">
    <div class="row">
        <div class="col col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="ui-block">


                <!-- Single Post -->

                <article class="hentry blog-post single-post single-post-v1">

                    <h1 class="post-title">Résevation dans : {{ reservation.MaisonsHotes.nom }} </h1>

                    <div class="author-date">
                        <div class="author-thumb">
                            <img alt="author" src="{{ webp }}img/friend-harmonic7.jpg" class="avatar">
                        </div>
                        by
                        <a class="h6 post__author-name fn" href="#">
                            <h2>{{ reservation.user.nom }} {{ reservation.user.prenom }}</h2></a>
                    </div>


                    <div class="post-content-wrap">
                        <div class="post-content">
                            <blockquote>
                                Numéro de réservation :{{ reservation.numeroreservation }}
                            </blockquote>
                            <blockquote>Date de début de votre réservation :
                                {% if reservation.datedebut %}
                                    {{ reservation.datedebut|date('Y-m-d') }}
                                {% endif %}
                            </blockquote>
                            <blockquote>
                                Date de fin de votre réservation :
                                {% if reservation.datefin %}
                                    {{ reservation.datefin|date('Y-m-d') }}
                                {% endif %}
                            </blockquote>
                            >
                            <blockquote>
                                Prix a payé : {{ reservation.prix }}
                            </blockquote>
                            <blockquote>
                                Nombre de personnes : {{ reservation.nbpersonne }} personne(s)
                            </blockquote>

                        </div>
                    </div>
                </article>

                <!-- ... end Single Post -->

            </div>
        </div>
    </div>
</div>
</body>
</html>
