{% extends 'front.html.twig' %}
{% block content %}




    <!-- End Stunning header -->


    <section class="medium-padding120">
        <div class="container">
            <div class="row">
                <div class="col col-xl-6 m-auto col-lg-6 col-md-12 col-sm-12 col-12">

                    <div class="crumina-module crumina-heading align-center">
                        <h2 class="h1 heading-title"> Votre réservation a été effectué avec succès dans notre maison
                            d'hôte <span class="c-primary"> {{ reservation.MaisonsHotes.nom }} </span></h2>
                        <h3>
                            Numero_reservation : <span class="c-primary">{{ reservation.numeroreservation }} </span><br>
                            Date_debut : <span
                                    class="c-primary">{% if reservation.datedebut %}{{ reservation.datedebut|date('Y-m-d') }}{% endif %} </span><br>
                            Date_fin : <span
                                    class="c-primary"> {% if reservation.datefin %}{{ reservation.datefin|date('Y-m-d') }}{% endif %} </span><br>
                            Nb_personne : <span class="c-primary"> {{ reservation.nbpersonne }} personne(s)</span> <br>
                            Prix : <span class="c-primary">{{ reservation.prix }} $ </span> <br>

                        </h3>
                    </div>

                    <a href="{{ path('pdf',{'num':reservation.numeroreservation}) }}"
                       class="fa fa-download" style="font-size:20px;color:#ff5e3a">
                        Telecharger </a>
                    <a href="#" data-toggle="modal" data-target="#edit_reservation" class="fa fa-pencil-square-o"
                       style="font-size:20px;color:#ff5e3a"> Modifier </a>

                </div>

            </div>
        </div>
    </section>

    <style>
        .btn {
            background-color: DodgerBlue;
            border: none;
            color: white;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 20px;
        }

        /* Darker background on mouse-over */
        .btn:hover {
            background-color: RoyalBlue;
        }
    </style>


    <!-- Section Call To Action Animation -->



    <!-- ... end Section Call To Action Animation -->


    <div class="modal fade" id="registration-login-form-popup" tabindex="-1" role="dialog"
         aria-labelledby="registration-login-form-popup" aria-hidden="true">
        <div class="modal-dialog window-popup registration-login-form-popup" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
                <div class="modal-body">
                    <div class="registration-login-form">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home1" role="tab">
                                    <svg class="olymp-login-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#profile1" role="tab">
                                    <svg class="olymp-register-icon">
                                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home1" role="tabpanel" data-mh="log-tab">
                                <div class="title h6">Register to Olympus</div>
                                <form class="content">
                                    <div class="row">
                                        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">First Name</label>
                                                <input class="form-control" placeholder="" type="text">
                                            </div>
                                        </div>
                                        <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Last Name</label>
                                                <input class="form-control" placeholder="" type="text">
                                            </div>
                                        </div>
                                        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Email</label>
                                                <input class="form-control" placeholder="" type="email">
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Password</label>
                                                <input class="form-control" placeholder="" type="password">
                                            </div>

                                            <div class="form-group date-time-picker label-floating">
                                                <label class="control-label">Your Birthday</label>
                                                <input name="datetimepicker" value="10/24/1984"/>
                                                <span class="input-group-addon">
											<svg class="olymp-calendar-icon"><use
                                                        xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
										</span>
                                            </div>

                                            <div class="form-group label-floating is-select">
                                                <label class="control-label">Your Gender</label>
                                                <select class="selectpicker form-control">
                                                    <option value="MA">Male</option>
                                                    <option value="FE">Female</option>
                                                </select>
                                            </div>

                                            <div class="remember">
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="optionsCheckboxes" type="checkbox">
                                                        I accept the <a href="#">Terms and Conditions</a> of the website
                                                    </label>
                                                </div>
                                            </div>

                                            <a href="#" class="btn btn-purple btn-lg full-width">Complete
                                                Registration!</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab-pane" id="profile1" role="tabpanel" data-mh="log-tab">
                                <div class="title h6">Login to your Account</div>
                                <form class="content">
                                    <div class="row">
                                        <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Email</label>
                                                <input class="form-control" placeholder="" type="email">
                                            </div>
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Your Password</label>
                                                <input class="form-control" placeholder="" type="password">
                                            </div>

                                            <div class="remember">

                                                <div class="checkbox">
                                                    <label>
                                                        <input name="optionsCheckboxes" type="checkbox">
                                                        Remember Me
                                                    </label>
                                                </div>
                                                <a href="#" class="forgot">Forgot my Password</a>
                                            </div>

                                            <a href="#" class="btn btn-lg btn-primary full-width">Login</a>

                                            <div class="or"></div>

                                            <a href="#" class="btn btn-lg bg-facebook full-width btn-icon-left"><i
                                                        class="fab fa-facebook-f" aria-hidden="true"></i>Login with
                                                Facebook</a>

                                            <a href="#" class="btn btn-lg bg-twitter full-width btn-icon-left"><i
                                                        class="fab fa-twitter" aria-hidden="true"></i>Login with Twitter</a>


                                            <p>Don’t you have an account?
                                                <a href="#">Register Now!</a> it’s really simple and you can start
                                                enjoing all the benefits!
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Full Width -->

    <div class="footer footer-full-width" id="footer">
        <div class="container">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-6 col-6">


                    <!-- ... end Widget About -->

                </div>


            </div>
        </div>
    </div>

    <!-- ... end Footer Full Width -->



    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog"
         aria-labelledby="update-header-photo" aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title">Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
                    </svg>
                    <svg class="olymp-little-delete js-chat-open">
                        <use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use>
                    </svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="{{ asset('template/') }}{{ asset('template/') }}img/avatar14-sm.jpg"
                                     alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                                                      datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="{{ asset('template/') }}{{ asset('template/') }}img/author-page.jpg"
                                     alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date"><time class="entry-date updated"
                                                                      datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="{{ asset('template/') }}{{ asset('template/') }}img/avatar14-sm.jpg"
                                     alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated"
                                                                      datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use>
                                </svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use>
                                </svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat1.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat2.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat3.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat4.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat5.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat6.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat7.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat8.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat9.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat10.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat11.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat12.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat13.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat14.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat15.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat16.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat17.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat18.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat19.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat20.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat21.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat22.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat23.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat24.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat25.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat26.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('template/') }}{{ asset('template/') }}img/icon-chat27.png"
                                                 alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->


    <div class="modal fade" id="edit_reservation" tabindex="-1" role="dialog" aria-labelledby="edit_reservation" aria-hidden="true">
        <div class="modal-dialog window-popup create-event" role="document">
            <div class="modal-content">
                <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                    <svg class="olymp-close-icon">
                        <use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                    </svg>
                </a>
                <div class="modal-header">
                    <h6 class="title">Modifier Reservation</h6>
                </div>


                <div class="modal-body">
                    {{ form_start(edit_form) }}
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.date_debut) }}
                        {{ form_widget(edit_form.date_debut) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.date_fin) }}
                        {{ form_widget(edit_form.date_fin) }}
                    </div>
                    <div class="form-group label-floating">
                        {{ form_label(edit_form.nb_personne) }}
                        {{ form_widget(edit_form.nb_personne) }}
                    </div>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>

    <!-- end window popup edit hotes -->


{% endblock %}