{% extends 'front.html.twig' %}
{% block title %}
    <title>Your Account - Personal Information</title>
{% endblock %}

{% block css %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}css/main.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}css/fonts.min.css">

{% endblock %}

{% block content %}


    <!-- Main Header Events -->

    <div class="main-header">
        <div class="content-bg-wrap bg-events"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                    <div class="main-header-content">
                        <h1>Create and Manage Events</h1>
                        <p>Welcome to your personal planner assistant. Here you’ll see all your next events and invites that your
                            friends sent you. You can create 3 different types of events: Personal (for your daily errands), Private
                            (for you and friends only) and Public (open to everyone). Create your events, invite friends and have fun!</p>
                    </div>
                </div>
            </div>
        </div>

        <img class="img-bottom" src="img/event-bottom.png" alt="friends">
    </div>

    <!-- ... end Main Header Events -->



    <!-- Your Account Personal Information -->

    <div class="container">
    <div class="row">
    <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
    <div class="ui-block">
    <div class="ui-block-title">
    <h6 class="title">Edit Evenement</h6>
    </div>
    <div class="ui-block-content">


    <!-- Personal Information Form  -->

    {{ form_start(form) }}


    <div class="row">

    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="form-group label-floating">
    <label class="control-label"> Event name </label>
    <input class="form-control" placeholder="" type="text" value="James">
    {{ form_widget(form.nomEvenement) }}
    </div>

    <div class="form-group label-floating">
    <label class="control-label"> Type</label>
    {{ form_widget(form.type) }}

    {#<input class="form-control" placeholder="" type="email" value="jspiegel@yourmail.com">#}
    </div>

    <div class="form-group label-floating">
    <label class="control-label"> Description </label>
    {{ form_widget(form.description) }}

    <input class="form-control" placeholder="" type="email" value="jspiegel@yourmail.com">
    </div>

    </div>

    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="form-group label-floating">
    <label class="control-label">Price</label>
    {{ form_widget(form.prix) }}

    <input class="form-control" placeholder="" type="text" value="Spiegel">
    </div>

    <div class="form-group label-floating">
    <label class="control-label">Event pic</label>
    {{ form_widget(form.image) }}

    <input class="form-control" placeholder="" type="email" value="daydreamzagency.com">
    </div>


    <div class="form-group label-floating">
    <label class="control-label">Nbre Place</label>
    {{ form_widget(form.nbreplace) }}

    <input class="form-control" placeholder="" type="email" value="daydreamzagency.com">
    </div>
    </div>




    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="form-group label-floating">
    <label class="control-label"> Lieu </label>
    {{ form_widget(form.adr) }}





    </div>
    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <div class="form-group date-time-picker label-floating">
    <label class="control-label">Date debut</label>

    <span class="input-group-addon">
    <svg class="olymp-month-calendar-icon icon"><use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
    </span>
    {{ form_widget(form.dateDebut) }}

    </div>
    <div class="form-group date-time-picker label-floating">
    <label class="control-label">Date fin</label>
    {{ form_widget(form.dateFin) }}


    <span class="input-group-addon">
    <svg class="olymp-month-calendar-icon icon"><use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-month-calendar-icon"></use></svg>
    </span>
    </div>


    </div>






    {#</div>#}
    {#<div class="col col-lg-6 col-md-6 col-sm-12 col-12">#}
    {#<button class="btn btn-secondary btn-lg full-width">Restaurer</button>#}
    {#</div>#}
    <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
    <button type="submit" class="btn btn-primary btn-lg full-width">Edit</button>
    </div>

    {#{{ form_end(form) }}#}

    <!-- ... end Personal Information Form  -->
    </div>
    </div>
    </div>

    <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
        <div class="ui-block">



            <!-- Your Profile  -->

            <img src="{{ asset('template/') }}img/event1.jpg" alt="photo">


            <!-- ... end Your Profile  -->


        </div>
    </div>
    </div>
    </div>

    <!-- ... end Your Account Personal Information -->






    <a class="back-to-top" href="#">
        <img src="{{ asset('template/') }}svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>











{% endblock %}

{% block js %}
    <!-- JS Scripts -->
    <script src="{{ asset('template/') }}js/jquery-3.2.1.js"></script>
    <script src="{{ asset('template/') }}js/jquery.appear.js"></script>
    <script src="{{ asset('template/') }}js/jquery.mousewheel.js"></script>
    <script src="{{ asset('template/') }}js/perfect-scrollbar.js"></script>
    <script src="{{ asset('template/') }}js/jquery.matchHeight.js"></script>
    <script src="{{ asset('template/') }}js/svgxuse.js"></script>
    <script src="{{ asset('template/') }}js/imagesloaded.pkgd.js"></script>
    <script src="{{ asset('template/') }}js/Headroom.js"></script>
    <script src="{{ asset('template/') }}js/velocity.js"></script>
    <script src="{{ asset('template/') }}js/ScrollMagic.js"></script>
    <script src="{{ asset('template/') }}js/jquery.waypoints.js"></script>
    <script src="{{ asset('template/') }}js/jquery.countTo.js"></script>
    <script src="{{ asset('template/') }}js/popper.min.js"></script>
    <script src="{{ asset('template/') }}js/material.min.js"></script>
    <script src="{{ asset('template/') }}js/bootstrap-select.js"></script>
    <script src="{{ asset('template/') }}js/smooth-scroll.js"></script>
    <script src="{{ asset('template/') }}js/selectize.js"></script>
    <script src="{{ asset('template/') }}js/swiper.jquery.js"></script>
    <script src="{{ asset('template/') }}js/moment.js"></script>
    <script src="{{ asset('template/') }}js/daterangepicker.js"></script>
    <script src="{{ asset('template/') }}js/simplecalendar.js"></script>

    <script src="{{ asset('template/') }}js/isotope.pkgd.js"></script>
    <script src="{{ asset('template/') }}js/ajax-pagination.js"></script>
    <script src="{{ asset('template/') }}js/Chart.js"></script>
    <script src="{{ asset('template/') }}js/chartjs-plugin-deferred.js"></script>
    <script src="{{ asset('template/') }}js/circle-progress.js"></script>
    <script src="{{ asset('template/') }}js/loader.js"></script>
    <script src="{{ asset('template/') }}js/run-chart.js"></script>
    <script src="{{ asset('template/') }}js/jquery.magnific-popup.js"></script>
    <script src="{{ asset('template/') }}js/jquery.gifplayer.js"></script>
    <script src="{{ asset('template/') }}js/mediaelement-and-player.js"></script>
    <script src="{{ asset('template/') }}js/mediaelement-playlist-plugin.min.js"></script>

    <script src="{{ asset('template/') }}js/base-init.js"></script>
    <script defer src="{{ asset('template/') }}fonts/fontawesome-all.js"></script>

    <script src="{{ asset('template/') }}Bootstrap/dist/js/bootstrap.bundle.js"></script>

{% endblock %}