{% extends 'front.html.twig' %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}Bootstrap/dist/css/bootstrap-grid.css">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}css/main.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('template/') }}css/fonts.min.css">
    <style>
        .divlm{
            display:none;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="main-header">
        <div class="content-bg-wrap bg-group"></div>
        <div class="container">
            <div class="row">
                <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                    <div class="main-header-content">
                        <h1>Coin pour ajouter un nouveau bon plan</h1>

                    </div>
                </div>
            </div>
        </div>

        <img class="img-bottom" src="{{ asset('template/') }}img/group-bottom.png" alt="friends">
    </div>

    <!-- ... end Main Header Groups -->

    <div class="container">
        <div class="row">
            <div class="col col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
<form method="post">
                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group label-floating is-select">
                        <label class="control-label">Votre Choix</label>
                        <select name="choix" id="choix" class="selectpicker form-control">
                            {% for c in categories %}
                            <option value="{{ c.type }}">{{ c.type }}</option>

                            {% endfor %}

                        </select>
                    </div>
                </div>
</form>

                <div id="Restaurant" class="choix ui-block">
                    <div class="ui-block-title bg-blue">
                        <h6 class="title c-white">Ajout d'un nouveau Restaurant</h6>
                        <img src="{{ asset('template/') }}img/video13.jpg" height="120" width="100" alt="author" class="mCS_img_loaded">

                    </div>
                    <div class="ui-block-content">

                        <form method="post">

                            <div class="row">
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom du Restaurant</label>
                                        <input class="form-control"name="name" type="text" placeholder="" >
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input class="form-control"name="phone" type="tel" placeholder="" >
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Description</label>
                                        <input class="form-control"name="description" type="text" placeholder="" >
                                    </div>
                                </div>

                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse</label>
                                        <input class="form-control"name="adresse"  type="text" placeholder="">
                                    </div>
                                </div>

                                    <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Note</label>
                                            <input class="form-control"name="note"  type="number" placeholder="">
                                        </div>
                                    </div>
                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                      <button type="reset" class="btn btn-secondary btn-lg full-width">Annuler</button>
                                </div>

                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                       <button type="submit" class="btn btn-blue btn-lg full-width">Valider</button>

                                </div>
                            </div>

                        </form>
                    </div>
                </div>





                <div id="Cafe" class="choix ui-block">
                    <div class="ui-block-title bg-blue">
                        <h6 class="title c-white">Ajout d'un nouveau Café</h6>
                        <img src="{{ asset('template/') }}img/badge12.png" alt="author" class="mCS_img_loaded">

                    </div>
                    <div class="ui-block-content">

                        <form method="post">
                            <div class="row">
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom Café</label>
                                        <input class="form-control" name="name"type="text" placeholder="" >
                                    </div>
                                </div>

                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse</label>
                                        <input class="form-control"name="adresse"  type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input class="form-control"name="phone" type="tel" placeholder="" >
                                    </div>
                                </div>

                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Description</label>
                                        <input class="form-control"name="description" type="text" placeholder="" >
                                    </div>
                                </div>


                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <button type="reset" class="btn btn-secondary btn-lg full-width">Annuler</button>
                                </div>

                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <button type="submit" class="btn btn-blue btn-lg full-width">Valider</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>



                <div id="Hotel" class="choix ui-block">
                    <div class="ui-block-title bg-blue">
                        <h6 class="title c-white">Ajout d'un nouveau Hotel</h6>
                        <img src="{{ asset('template/') }}img/badge14.png" alt="author" class="mCS_img_loaded">

                    </div>
                    <div class="ui-block-content">

                        <form method="post">
                            <div class="row">
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Nom Hotel</label>
                                        <input class="form-control" name="name"type="text" placeholder="" >
                                    </div>
                                </div>

                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Adresse</label>
                                        <input class="form-control"name="adresse"  type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Prix</label>
                                        <input class="form-control"name="prix"  type="number" placeholder="">
                                    </div>
                                </div>

                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Phone</label>
                                        <input class="form-control"name="phone" type="tel" placeholder="" >
                                    </div>
                                </div>
                                <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Description</label>
                                        <input class="form-control"name="description" type="text" placeholder="" >
                                    </div>
                                </div>
                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <button type="reset" class="btn btn-secondary btn-lg full-width">Annuler</button>
                                </div>

                                <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                    <button type="submit" class="btn btn-blue btn-lg full-width">Valider</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="col col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="ui-block-title">
                        <h6 class="title">Recent Topics</h6>
                    </div>
                    <div class="ui-block-content">


                        <!-- Widget Recent Topics -->

                        <ul class="widget w-featured-topics">
                            <li>
                                <div class="content">
                                    <a href="#" class="h6 title">Summer is Coming! Picnic in the east boulevard park</a>
                                    <time class="entry-date updated" datetime="2017-06-24T18:18">26 minutes ago</time>
                                    <div class="forums">The Community</div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <a href="#" class="h6 title">Kung Fighters released a new video, check it out here!</a>
                                    <time class="entry-date updated" datetime="2017-06-24T18:18">44 minutes ago</time>
                                    <div class="forums">The Boombox</div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <a href="#" class="h6 title">What’s your favourite season?</a>
                                    <time class="entry-date updated" datetime="2017-06-24T18:18">59 minutes ago</time>
                                    <div class="forums">The Community</div>
                                </div>
                            </li>
                            <li>
                                <div class="content">
                                    <a href="#" class="h6 title">Who had the best presentation at this year’s E3? Rate them!</a>
                                    <time class="entry-date updated" datetime="2017-06-24T18:18">1 hour, 3 minutes ago</time>
                                    <div class="forums">Arcade Planet</div>
                                </div>
                            </li>
                        </ul>

                        <!-- ... end Widget Recent Topics -->
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Window-popup-CHAT for responsive min-width: 768px -->

    <div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">

        <div class="modal-content">
            <div class="modal-header">
                <span class="icon-status online"></span>
                <h6 class="title" >Chat</h6>
                <div class="more">
                    <svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                    <svg class="olymp-little-delete js-chat-open"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                </div>
            </div>
            <div class="modal-body">
                <div class="mCustomScrollbar">
                    <ul class="notification-list chat-message chat-message-field">
                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/author-page.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Don’t worry Mathilda!</span>
                                <span class="chat-message-item">I already bought everything</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
                            </div>
                        </li>

                        <li>
                            <div class="author-thumb">
                                <img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
                            </div>
                            <div class="notification-event">
                                <span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
                                <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
                            </div>
                        </li>
                    </ul>
                </div>

                <form class="need-validation">

                    <div class="form-group label-floating is-empty">
                        <label class="control-label">Press enter to post...</label>
                        <textarea class="form-control" placeholder=""></textarea>
                        <div class="add-options-message">
                            <a href="#" class="options-message">
                                <svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
                            </a>
                            <div class="options-message smile-block">

                                <svg class="olymp-happy-sticker-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

                                <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat1.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat2.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat3.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat4.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat5.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat6.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat7.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat8.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat9.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat10.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat11.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat12.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat13.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat14.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat15.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat16.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat17.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat18.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat19.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat20.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat21.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat22.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat23.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat24.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat25.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat26.png" alt="icon">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/icon-chat27.png" alt="icon">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- ... end Window-popup-CHAT for responsive min-width: 768px -->



    <a class="back-to-top" href="#">
        <img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>



    <!-- JS Scripts -->
    <script src="{{ asset('template/') }}js/jquery-3.2.1.js"></script>
    {#<script src="{{ asset('template/') }}js/jquery.appear.js"></script>#}
    {#<script src="{{ asset('template/') }}js/jquery.mousewheel.js"></script>#}
    {#<script src="{{ asset('template/') }}js/perfect-scrollbar.js"></script>#}
    {#<script src="{{ asset('template/') }}js/jquery.matchHeight.js"></script>#}
    {#<script src="{{ asset('template/') }}js/svgxuse.js"></script>#}
    {#<script src="{{ asset('template/') }}js/imagesloaded.pkgd.js"></script>#}
    {#<script src="{{ asset('template/') }}js/Headroom.js"></script>#}
    {#<script src="{{ asset('template/') }}js/velocity.js"></script>#}
    {#<script src="{{ asset('template/') }}js/ScrollMagic.js"></script>#}
    {#<script src="{{ asset('template/') }}js/jquery.waypoints.js"></script>#}
    {#<script src="{{ asset('template/') }}js/jquery.countTo.js"></script>#}
    {#<script src="{{ asset('template/') }}js/popper.min.js"></script>#}
    {#<script src="{{ asset('template/') }}js/material.min.js"></script>#}
    {#<script src="{{ asset('template/') }}js/bootstrap-select.js"></script>#}
    {#<script src="{{ asset('template/') }}js/smooth-scroll.js"></script>#}
    {#<script src="{{ asset('template/') }}js/selectize.js"></script>#}
    {#<script src="{{ asset('template/') }}js/swiper.jquery.js"></script>#}
    {#<script src="{{ asset('template/') }}js/moment.js"></script>#}
    {#<script src="{{ asset('template/') }}js/daterangepicker.js"></script>#}
    {#<script src="{{ asset('template/') }}js/simplecalendar.js"></script>#}
    {#<script src="{{ asset('template/') }}js/fullcalendar.js"></script>#}
    {#<script src="{{ asset('template/') }}js/isotope.pkgd.js"></script>#}
    {#<script src="{{ asset('template/') }}js/ajax-pagination.js"></script>#}
    {#<script src="{{ asset('template/') }}js/Chart.js"></script>#}
    {#<script src="{{ asset('template/') }}js/chartjs-plugin-deferred.js"></script>#}
    {#<script src="{{ asset('template/') }}js/circle-progress.js"></script>#}
    {#<script src="{{ asset('template/') }}js/loader.js"></script>#}
    {#<script src="{{ asset('template/') }}js/run-chart.js"></script>#}
    {#<script src="{{ asset('template/') }}js/jquery.magnific-popup.js"></script>#}
    {#<script src="{{ asset('template/') }}js/jquery.gifplayer.js"></script>#}
    {#<script src="{{ asset('template/') }}js/mediaelement-and-player.js"></script>#}
    {#<script src="{{ asset('template/') }}js/mediaelement-playlist-plugin.min.js"></script>#}

    {#<script src="{{ asset('template/') }}js/base-init.js"></script>#}
    {#<script defer src="{{ asset('template/') }}fonts/fontawesome-all.js"></script>#}

    {#<script src="{{ asset('template/') }}Bootstrap/dist/js/bootstrap.bundle.js"></script>#}

    <script>
        $(function() {    // Makes sure the code contained doesn't run until
            //     all the DOM elements have loaded

            $('#choix').change(function(){
                $('.choix').hide();
                $('#' + $(this).val()).show();
            });

        });

        $(function () {
            $('.choix').hide();

        });
        // $(function () {
        //     $('#voyage').show();
        // });

    </script>


{% endblock %}