{% extends 'front.html.twig' %}

{% block css %}
    <style>
        .divlm{
            display:none;
        }

    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        .filterDiv {

            display: none;
        }

        .show {
            display: flex;
        }



        /* Style the buttons */
        /*.btn {*/
            /*border: none;*/
            /*outline: none;*/
            /*padding: 12px 16px;*/
            /*background-color: #f1f1f1;*/
            /*cursor: pointer;*/
        /*}*/

        .btn:hover {
            background-color: #ddd;
        }

        .btn.active {
            background-color: #666;
            color: white;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
{% endblock %}

{% block content %}




    <div class="header-spacer header-spacer-small"></div>


<!-- Main Header BlogV1 -->

<div class="main-header">
    <div class="content-bg-wrap bg-account"></div>
    <div class="container">
        <div class="row">
            <div class="col col-lg-8 m-auto col-md-8 col-sm-12 col-12">
                <div class="main-header-content">
                    <h1>Les bons plans</h1>
                </div>
            </div>
        </div>
    </div>

    <img class="img-bottom" src="{{ asset('template/') }}img/blog_bottom.png" alt="friends">
</div>

<!-- ... end Main BlogV1 -->

    <!-- Trigger the modal with a button -->

    <!-- Ajout Modal -->
    <div id="mynewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ajout d'un noueau Bon Plan</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <div class="form-group label-floating">
                        <p>Catégorie du Bon Plan</p>
                        {{ form_widget(form.categorie) }}
                    </div>
                    <div class="form-group label-floating">
                        <p>Nom du Bon Plan</p>
                        {{ form_widget(form.name) }}
                    </div>
                    <div class="form-group label-floating">
                        <p>Description</p>
                        {{ form_widget(form.description) }}
                    </div>
                    <div class="form-group label-floating">
                        <p>Téléphone</p>
                        {{ form_widget(form.phone) }}
                    </div>

                    <div class="form-group label-floating">
                        <p>Note pour le Bon Plan</p>
                        {{ form_widget(form.note, {'attr': {'class': 'form-control',
                            'max':'20',
                            'min':'0'

                        }})  }}
                    </div>

                    <div class="form-group label-floating">
                        <p>Adresse</p>
                        {{ form_widget(form.adresse) }}
                    </div>

                    <div class="form-group label-floating">
                        <p>Image</p>
                        {{ form_widget(form.image) }}
                    </div>

                    <div class="form-group label-floating">
                        <p>Prix </p>
                        {{ form_widget(form.prix, {'attr': {'class': 'form-control',
                            'max':'100000',
                            'min':'1'

                        }})  }}
                    </div>
                    <div class="form-group label-floating">
                        <p>Etoile </p>
                        {{ form_widget(form.rating) }}
                    </div>

                    <div class="form-group label-floating">


                        {{ form_widget(form.Ajouter) }}
                        {{ form_widget(form.Annuler) }}
                    </div>


                    {{ form_end(form) }}
                </div>

            </div>

        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="ui-block responsive-flex1200">
                <div class="ui-block-title">

                    {#<a href="{{ path('bon_plans_ajouter_bon_plan') }}" class="btn btn-primary">Ajouter Bon Plan</a>#}
                    <button type="button" class="btn btn-primary btn-info btn-lg" data-toggle="modal" data-target="#mynewModal">Ajouter Bon Plan</button>

                    <div class="w-select">
                        <div class="title">Filtrer par:</div>
                        <fieldset class="form-group">



                            <div id="myBtnContainer">

                                <button class="btn active" onclick="filterSelection('all')"> Show all</button>
                                {% for c in categorie %}

                                <button class="btn" onclick="filterSelection('{{ c.type }}')">{{ c.type }}</button>

                                {% endfor %}
                            </div>

                            {#<div class="container">#}
                                {#{% for c in categorie %}#}
                                {#<div class="filterDiv {{ c.type }}">{{ c.type }}</div>#}
                                {#{% endfor %}#}


                            {#</div>#}
                        </fieldset>

                    </div>
                    {#<div class="w-select">#}
                        {#<fieldset class="form-group">#}
                            {#<select class="selectpicker form-control">#}
                                {#<option value="NU">Date (Descending)</option>#}
                                {#<option value="NU">Date (Ascending)</option>#}
                            {#</select>#}
                        {#</fieldset>#}
                    {#</div>#}

                    {#<a href="#" data-toggle="modal" data-target="#create-photo-album"></a>#}

                    <form class="w-search">
                        <div class="form-group with-button">
                            <input class="form-control searchbnp" type="text" placeholder="Rechercher un bon plan......">
                            <button>
                                <svg class="olymp-magnifying-glass-icon"><use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                            </button>
                        </div>

                        {#<div class="inline-items" id="entitiesNavbnp">#}
                            {#Recherche#}
                        {#</div>#}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="container" id="entitiesNavbnp">
    </div>

<div class="container" id="original">
    {#{% for b in bonsplans %}#}
    {#<div class="filterDiv {{ b.categorie.type }}">{{ b.name }}</div>#}
    {#{% endfor %}#}

    <div class="row">

        <div class="col col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">

            {% for b in bonsplans %}

            <div class="ui-block">


                <!-- Post -->

                <article class="hentry blog-post blog-post-v3 filterDiv {{ b.categorie.type }}">

                    <div class="post-thumb">
                        <img src="{{ asset('img/')}}{{ b.image }}" >
                        <a href="{{ path('bon_plan_detail',{'id':b.id}) }}" class="post-category bg-blue-light">{{ b.name }}</a>
                    </div>

                    <div class="post-content">

                        <div class="author-date">
                            Par
                            <a class="h6 post__author-name fn" href="{{ path('user_profil') }}">{{ b.user }}</a>
                            <div class="post__date">
                                <time class="published" datetime="2017-03-24T18:18">
                                    - {{ b.datePublication |date() }}
                                </time>
                            </div>
                        </div>

                        <a href="{{ path('bon_plan_detail',{'id':b.id}) }}" class="h3 post-title">
                           {{ b.name }}</a>
                        <p>{{ b.description }}
                        </p>
                        <p>{{ b.rating|rating }}</p>
                        </p>

                        <div class="post-additional-info inline-items">
                            <li>

                                <a href="{{ path('like',{'idBonPlan':b.id}) }}">


                                    <img src="{{ asset('template/') }}img/icon-chat27.png" alt="icon">
                                    {% set numberLike = 0 %}

                                        {% for r in rating %}
                                            {% if b.id == r.bonplan.id and r.vote == true%}

                                                {% set numberLike = numberLike + 1 %}


                                            {% endif %}
                                        {% endfor %}
                                        {{ numberLike }}
                                </a>
                            </li>


                            <li>

                                <a href="{{ path('dislike',{'idBonPlan':b.id}) }}">

                                    <img src="{{ asset('template/') }}img/icon-chat29.png" alt="icon">
                                    {% set numberDislike = 0 %}

                                    {% for r in rating %}
                                        {% if b.id == r.bonplan.id and r.vote == false%}

                                            {% set numberDislike=  numberDislike + 1 %}


                                        {% endif %}
                                    {% endfor %}

                                    {{ numberDislike }}
                                </a>
                            </li>


                            {#<div class="comments-shared">#}
                                {#<a href="#" class="post-add-icon inline-items">#}
                                    {#<svg class="olymp-speech-balloon-icon"><use xlink:href="{{ asset('template/') }}svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>#}
                                    {#<span>0</span>#}
                                {#</a>#}
                            {#</div>#}

                        </div>
                    </div>


                </article>

                <!-- ... end Post -->

            </div>
            {% endfor %}
            <!-- Pagination -->

            <div class="navigation">
                {{ knp_pagination_render(bonsplans) }}
            </div>

            <!-- ... end Pagination -->

        </div>





        <div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Les bons plans les plus notés</h6>
                </div>
                <div class="ui-block-content">


                    <!-- Widget Featured Topics -->

                    <ul class="widget w-featured-topics">
                        {% for m in bonsplansmax %}
                        <li>
                            <i class="icon fa fa-star" aria-hidden="true"></i>
                            <div class="content">
                                <a href="{{ path('bon_plan_detail',{'id':m.id}) }}" class="h6 title">{{ m.name }}</a>
                                <p>Note : {{ m.note }}</p>
                                <time class="entry-date updated" datetime="2017-06-24T18:18">Date Publication: {{ m.datePublication |date() }}</time>
                            </div>
                        </li>
                        {% endfor %}
                        <div id="div_histogram" style="margin-right: 250px;position: relative"></div>


                        <script type="text/javascript">
                            {{ gc_language('fr') }}

                            {{ gc_draw(piechart, 'div_histogram') }}
                        </script>
                    </ul>

                    <!-- ... end Widget Featured Topics -->
                </div>
            </div>


        </div>
    </div>





        </div>



    </div>

</div>
    <script src="{{ asset('template/js/jquery-3.2.1.js') }}"></script>

    <script>


        $(document).ready(function () {
            var searchRequest = null;
            $(".searchbnp").keyup(function () {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#entitiesNavbnp").html('');
                if (value.length >= minlength) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajax_search_bon_plan') }}",
                        data: {
                            'q': value
                        },
                        dataType: "text",
                        success: function (msg) {
                            //we need to check if the value is the same
                            if (value == $(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function (key, arr) {
                                    $.each(arr, function (id, value) {
                                        if (key == 'entities') {
                                            if (id != 'error') {
                                                $( "#original" ).hide();
                                                entitySelector.append(
                                                '<div class="ui-block">'+

                                                    '<article class="hentry blog-post blog-post-v3">'+

                                                    '<div class="post-thumb">'+
                                                    '<img src="{{ asset('img/') }}' + value[3] + '" alt="avatar">'+
                                                    '<a href="/Pi-Dev-Web/web/app_dev.php/bonplans/detail/' + id + '" class="post-category bg-blue-light">'+value[0]+'</a>'+
                                                    '</div>'+

                                                    '<div class="post-content">'+

                                                    '<div class="author-date">'+
                                                    'Par '+
                                                    '<a class="h6 post__author-name fn" href="/Pi-Dev-Web/web/app_dev.php/user/' + value[6]+ '/compte">'+value[9]+'</a>'+
                                                    '<div class="post__date">'+

                                                    '</div>'+
                                                    '</div>'+

                                                    '<a href="/Pi-Dev-Web/web/app_dev.php/bonplans/detail/'+value[5]+'" class="h3 post-title">'+
                                                        value[0]+'</a>'+
                                                    '<p>'+value[2]+''+
                                                    '</p>'+
                                                    '<p> Prix: '+ value[7] +'</p>'+
                                                    '</p>'+

                                                '</div>'+
                                                '</div>'+


                                                '</article>'+


                                                '</div>');

                                            } else {
                                                entitySelector.append('<li class="errorLi">' + value + '</li>');

                                            }
                                        }
                                    });
                                });
                            }
                        
                        }
                    });
                }
            });
        });





        $('.searchbnp').blur(function()
        {
            if( $(this).val().length === 0 ) {
                $( "#original" ).show();
            }
        });






        filterSelection("all")
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("filterDiv");
            if (c == "all") c = "";
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
            }
        }

        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function(){
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

{% endblock %}
{#'<li><a href="/Pi-Dev-Web/web/app_dev.php/user/' + id + '/compte">' +#}
        {#' <div class="autho"><img src="{{ asset('img/') }}' + value[3] + '" alt="avatar"></div>' +#}
        {#'<div class="notification-event">' +#}
            {#'<span class="h6 notification-friend"></a>' + value[0] + '</span>' + ' ' +#}
    {#'<span class="chat-message-item">' + '<b>' + value[2] + '</b>' + '</span>' + '</br>' +#}
    {#'<a href="/Pi-Dev-Web/web/app_dev.php/user/' +#}
                                                    {#'</div>\n' +#}
                                                    {#'<span class="notification-icon"><svg class="\' + escape(item.icon) + \'"><use xlink:href="icons/icons.svg#\' + escape(item.icon) + \'"></use></svg></span>' + '</a></li>'#}